﻿@model UserViewModel
<script type="text/javascript">
    $(function() {
        $("#EmailAddress").change(function() {
            $("#UserName").val($("#EmailAddress").val());
        });

        $('#ConfirmEmailAddress').bind("cut copy paste", function(e) {
            e.preventDefault();
        });
    });
</script>
<section id="editUser" style="width:960px;">
    <h4 style="text-align:center;">Edit user account.</h4>
    @using (Html.BeginForm("SaveEditUser", "Account", FormMethod.Post, new { style = "margin:auto;" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

<div class="container-fluid">
    <div class="row">
        <span class="col-md-2 text-right">
            @Html.LabelFor(m => m.FirstName)
        </span>
        <span class="col-md-4">
            @Html.HiddenFor(m => m.UserID)
            @Html.HiddenFor(m => m.AddressModel.AddressID)
            @Html.TextBoxFor(m => m.FirstName, new { placeholder = "First Name" })
        </span>
        <span class="col-md-2 text-right">
            @Html.LabelFor(m => m.MiddleName)
        </span>
        <span class="col-md-4">
            @Html.TextBoxFor(m => m.MiddleName)
        </span>
    </div>
    <div class="row">
        <span class="col-md-2 text-right">
            @Html.LabelFor(m => m.LastName)
        </span>
        <span class="col-md-4">
            @Html.TextBoxFor(m => m.LastName)
        </span>
        <span class="col-md-2 text-right">
            @Html.LabelFor(m => m.Title)
        </span>
        <span class="col-md-4">
            @Html.TextBoxFor(m => m.Title)
        </span>
    </div>
    <div class="row">
        <span class="col-md-2 text-right">
            @Html.LabelFor(m => m.Organization)
        </span>
        <span class="col-md-4">
            @Html.TextBoxFor(m => m.Organization)
        </span>
        <span class="col-md-2 text-right">
            @Html.LabelFor(m => m.PhoneNumber)
        </span>
        <span class="col-md-4">
            @Html.TextBoxFor(m => m.PhoneNumber)
        </span>
    </div>
    <div class="row">
        <span class="col-md-2 text-right">
            @Html.LabelFor(m => m.AddressLine1)
        </span>
        <span class="col-md-4">
            @Html.TextBoxFor(m => m.AddressLine1)
        </span>
        <span class="col-md-2 text-right">
            @Html.LabelFor(m => m.City)
        </span>
        <span class="col-md-4">
            @Html.TextBoxFor(m => m.City)
        </span>
    </div>
    <div class="row">
        <span class="col-md-2 text-right">
            @Html.LabelFor(m => m.AllStates)
        </span>
        <span class="col-md-4">
            @Html.DropDownListFor(m => m.SelectedStateCd, Model.AllStates, "Select State")
        </span>
        <span class="col-md-2 text-right">
            @Html.LabelFor(m => m.ZipCode)
        </span>
        <span class="col-md-4">
            @Html.TextBoxFor(m => m.ZipCode)
        </span>
    </div>
    <div class="row">
        <span class="col-md-2 text-right">
            @Html.Label("Time Zone")
        </span>
        <span class="col-md-4">
            @Html.DropDownListFor(m => m.SelectedTimezoneId, Model.AllTimezones, "Select Timezone")
        </span>
        <span class="col-md-2 text-right">
            @Html.LabelFor(m => m.EmailAddress)
        </span>
        <span class="col-md-4">
            @Html.TextBoxFor(m => m.EmailAddress)
        </span>
    </div>
    <div class="row">
        <span class="col-md-2 text-right">
            @Html.LabelFor(m => m.UserName)
        </span>
        <span class="col-md-4">
            @Html.TextBoxFor(m => m.UserName, new { @tabindex = -1, @style = "background: #eee", @readonly = "true" })
        </span>
        <span class="col-md-2 text-right">
            @Html.LabelFor(m => m.ConfirmEmailAddress)
        </span>
        <span class="col-md-4">
            @Html.TextBoxFor(m => m.ConfirmEmailAddress)
        </span>
    </div>
</div>

        if (Model.SelectedRoles != null && Model.SelectedRoles.IndexOf("OperatorAccountRepresentative", 0) != -1)
        {
        <div class="container-fluid">
            <div class="row" style="margin-top: 15px;">
                <span class="col-md-2 text-right">
                </span>
                <span class="col-md-4">
                    @*PRC USer Story 576: Remove unwanted code below*@
                    <!--<input type="button" id="manageOarFhas" value="Manage FHA Numbers" ng-click="ManageOarFhas(@Model.AllLenders)" />-->
                    <!--<input type="button" value="Manage FHA Numbers" onclick='@Url.Action("ManageOperatorFhas", "Account", new {userModel = @Model})' />-->
                    <input type="button" id="manageOarFhas" value="Manage FHA Numbers" onclick="window.location.href = '/Account/ManageOperatorFhas'" />
                </span>
            </div>
        </div>
        }
        <div class="container-fluid">
            <div class="row" style="margin-top: 15px;">
                <span class="col-md-2 text-right">
                </span>
                <span class="col-md-4">
                    <input type="submit" value="Continue" />
                    <input type="button" value="Cancel" title="Cancel" onclick="window.location.href = '/Account/ListUsers'" />
                </span>
            </div>
        </div>
    }
</section>