﻿ 


<div ng-app="questionModule" ng-controller="questionCtrl">




    <div class="divList" style="width: 900px">
        <div style="text-align: right; margin-bottom :10px">
            <input type="button" class="btn-primary" value=" Add Question" ng-click="AddQuestion()" />
        </div>
        <table class="table table-condensed table-striped  table-hover" style="height: 20px">

            <tr>
                <td width="15%"><b>Check List Id</b></td>
                <td width="5%"><b>Question Id</b></td>
                <td width="30%"><b>Question</b></td>
                <td width="5%"><b>Level</b></td>
                <td width="5%"><b>Parent Question Id</b></td>
                <td width="5%"><b>Display Order Id</b></td>
                <td width="10%"><b>Start Date</b></td>
                <td width="10%"><b>End Date</b></td>
                <td width="5%"><b>Action</b></td>
            </tr>
            <tr ng-repeat="question in FilteredQuestions" style="height: 20px">
                <td>
                    {{question.CheckListId}}
                </td>
                <td>
                    {{question.QuestionId}}
                </td>
                <td>
                    {{question.Question}}
                </td>
                <td>
                    {{question.Level}}
                </td>
                <td>
                    {{question.ParentQUestionId}}
                </td>
                <td>
                    {{question.DisplayOrderId}}
                </td>
                <td>
                    {{question.StartDate}}
                </td>
                <td>
                    {{question.EndDate}}
                </td>
                <td>
                    <span ng-click="editQuestion(question)" class="btn   btn-primary " aria-label="Left Align">Edit</span>
                </td>
            </tr>
        </table>
        <div data-pagination="" data-num-pages="numPages()"
             data-current-page="currentPage" data-max-size="maxSize"
             data-boundary-links="true"></div>
    </div>

   

    <div ng-show="divQuestion" style="text-align: center">
        <p class="divHead">{{Action}} Question</p>
        <div class="container-fluid" id="AddQuestionDiv">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Question Id : ", new {})
                </span>
                <span class="col-md-4">
                    <input type="text" ng-model="QuestionId" />

                </span>
            </div>
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Question : ", new {@class = "required"})
                </span>
                <span class="col-md-4">
                    <input type="text" ng-model="Question" />
                </span>
            </div>

            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Level : ", new {@class = "required"})
                </span>
                <span class="col-md-4">
                    <input type="text" ng-model="Level" />
                </span>
            </div>

            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Parent Question Id : ", new {@class = "required"})
                </span>
                <span class="col-md-4">
                    <input type="text" ng-model="ParentQuestionId" />
                </span>
            </div>

            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Display Order Id : ", new {@class = "required"})
                </span>
                <span class="col-md-4">
                    <input type="text" ng-model="DisplayOrderId" />
                </span>
            </div>

            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Start Date : ", new {@class = "required"})
                </span>
                <span class="col-md-4">
                    <input type="text" ng-model="StartDate" />
                </span>
            </div>

            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("End Date : ", new {@class = "required"})
                </span>
                <span class="col-md-4">
                    <input type="text" ng-model="EndDate" />
                </span>
            </div>

            <div class="container-fluid" style="margin-top: 30px">
                <div id="dvSubmit" class="row">
                    <span class="col-md-12 text-center">
                        <input type="button" class="btn-primary" value="Submit" ng-click="AddUpdateEmployee()" />
                    </span>
                </div>
            </div>

        </div>
    </div>

</div>




