﻿@model Model.LocalPasswordModel
@{
    ViewBag.Title = "";
}
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section id="changePassword" style="vertical-align:central;">
    @Html.Partial("_ChangePasswordPartial")
</section>


