﻿@{
    ViewBag.Title = "DataEntryFormForQuestions";
}
<style>
   

</style>
<h2>Data Entry Form For Questions</h2>
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-touch.js"></script>
<script src="~/Scripts/angular-animate.js"></script>
<script src="~/Scripts/angular-messages.min.js"></script>
<script src="~/Scripts/csv.js"></script>
<script src="~/Scripts/pdfmake.js"></script>
<script src="~/Scripts/vfs_fonts.js"></script>
<script src="~/Scripts/ui-grid.js"></script>
<link rel="stylesheet" href="http://ui-grid.info/release/ui-grid.css" type="text/css">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css">


<div ng-app="ngdataEntryForm">
    <div ng-controller="DataEntryController">
        <form name="myForm" novalidate>
            <label> Form Types: </label>
            <select ng-model="ftSelect" ng-change="fillProjectActions(ftSelect)">
                <option value="" label="Select Form Types"></option>
                <option ng-repeat="item in availableFormTypes" value="{{item.PageTypeId}}">{{item.PageTypeDescription}}</option>
            </select>
            <br/>
            <label> Project Actions: </label>
            <select ng-model="paSelect" ng-change="fillQuestionsList(paSelect)">
                <option value="" label="Select Project Action"></option>
                <option ng-repeat="item in availableProjectActions" value="{{item.ProjectActionID}}">{{item.ProjectActionName}}</option>
            </select>

            <hr>

            <input type="button" class="btn-primary" value=" Add Question" ng-click="AddQuestionForm()" ng-show="divQuestionGrid"/>

            <div id="grid1" ui-grid="gridOptions"   style=" height: 350px;width:1500px" external-scopes="$scope" ui-grid-selection ui-grid-resize-columns></div>


            <div ng-show="divQuestionForm" style="text-align: center">
                <p>{{Action}} Question</p>
                <div class="container-fluid" id="AddQuestionDiv">
                    <div class="row">
                        <span class="col-md-4 text-right">
                            @Html.Label("Checklist Id : ", new {@class = "required"})
                        </span>
                        <span class="col-md-4">
                            <input type="text" name="checklistid" ng-model="CheckListId" disabled="disabled" style="background: #eee" required/>
                        </span>
                    </div>
                    <div class="row">
                        <span class="col-md-4 text-right">
                            @Html.Label("Section Id : ")
                        </span>
                        <span class="col-md-4">
                            <input type="number" ng-model="SectionId" />
                        </span>
                        <span class="col-md-4" style="color: red">

                        </span>
                    </div>
                    <div class="row">
                        <span class="col-md-4 text-right">
                            @Html.Label("Section Name : ")
                        </span>
                        <span class="col-md-4">
                            <input type="text" ng-model="SectionName" />
                        </span>
                        <span class="col-md-4" style="color: red">

                        </span>
                    </div>
                    <div class="row">
                        <span class="col-md-4 text-right">
                            @Html.Label("Question Id : ", new {@class = "required"})
                        </span>
                        <span class="col-md-4">
                            <input type="number" name="questionid" ng-model="QuestionId" required pattern="/[0-9]+/"/>
                        </span>
                        <span class="col-md-4" style="color: red" ng-messages="myForm.questionid.$error" ng-if="myForm.questionid.$dirty">
                            <span ng-message="required">Question Id is required. Please enter a number</span>
                        </span>
                    </div>
                    <div class="row">
                        <span class="col-md-4 text-right">
                            @Html.Label("Question : ", new {@class = "required"})
                        </span>
                        <span class="col-md-4">
                            <textarea rows="5" cols="50" ng-model="Question" name="question" required style="margin-left: 45px;"></textarea>
                        </span>
                        <span class="col-md-4" style="color: red" ng-messages="myForm.question.$error" ng-if="myForm.question.$dirty">
                            <span ng-message="required">Question is required.</span>
                        </span>
                    </div>

                    <div class="row">
                        <span class="col-md-4 text-right">
                            @Html.Label("Short Name : ")
                        </span>
                        <span class="col-md-4">
                            <input type="text" ng-model="Shortnames" />
                        </span>
                        <span class="col-md-4" style="color: red">

                        </span>
                    </div>
                    <div class="row">
                        <span class="col-md-4 text-right">
                            @Html.Label("Level : ", new {@class = "required"})
                        </span>
                        <span class="col-md-4">
                            <input type="number" ng-model="Level" required name="level"/>
                        </span>
                        <span class="col-md-4" style="color: red" ng-messages="myForm.level.$error" ng-if="myForm.level.$dirty">
                            <span ng-message="required">Level is required. Please enter a number</span>
                        </span>
                    </div>
                    
                    <div class="row">
                        <span class="col-md-4 text-right">
                            @Html.Label("Project Action Id : ", new {@class = "required"})
                        </span>
                        <span class="col-md-4">
                            <input type="text" ng-model="ProjectActionId" disabled="disabled" required style="background: #eee" />
                        </span>
                    </div>

                    <div class="row">
                        <span class="col-md-4 text-right">
                            @Html.Label("Parent Question Id : ", new {@class = "required"})
                        </span>
                        <span class="col-md-4">
                            <input type="text" ng-model="ParentQuestionId" required name="parentid"
                                   pattern="/[a-z0-9]{8}-[a-z0-9]{4}-[a-z0-9]{4}-[a-z0-9]{4}-[a-z0-9]{12}/" />
                        </span>
                        <span class="col-md-4" style="color: red" ng-messages="myForm.parentid.$error" ng-if="myForm.parentid.$dirty">
                            <span ng-message="required">Parent Question Id is required. Please enter a GUID</span>
                        </span>
                    </div>

                    <div class="row">
                        <span class="col-md-4 text-right">
                            @Html.Label("Display Order Id : ", new {@class = "required"})
                        </span>
                        <span class="col-md-4">
                            <input type="number" ng-model="DisplayOrderId" required name="displayorderid"/>
                        </span>
                        <span class="col-md-4" style="color: red" ng-messages="myForm.displayorderid.$error" ng-if="myForm.displayorderid.$dirty">
                            <span ng-message="required">Display Order Id is required. Please enter a number</span>
                        </span>
                    </div>

                    <div class="row">
                        <span class="col-md-4 text-right">
                            @Html.Label("Is Attachment Required : ", new {@class = "required"})
                        </span>
                        <span class="col-md-4">
                            @*<select ng-model="IsAttachmentRequired" name="attachment" required style="margin-right: 240px;">
                                <option value="" selected="selected">Select</option>
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>*@
                            <select data-ng-options="o.name for o in options" data-ng-model="IsAttachmentRequired"></select>
                        </span>
                        <span class="col-md-4" style="color: red" ng-messages="myForm.attachment.$error" ng-if="myForm.attachment.$dirty">
                            <span ng-message="required">Please select True/False</span>
                        </span>
                    </div>
                    <div class="row">
                        <span class="col-md-4 text-right">
                            @Html.Label("Is N/A checkbox required for the question : ", new { @class = "required" })
                        </span>
                        <span class="col-md-4">
                            <select ng-model="IsNARequired" name="naquestion" required style="margin-right: 240px;">
                                <option value="" selected="selected">Select</option>
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                        </span>
                        <span class="col-md-4" style="color: red" ng-messages="myForm.naquestion.$error" ng-if="myForm.naquestion.$dirty">
                            <span ng-message="required">Please select True/False</span>
                        </span>
                    </div>
                    <div class="row">
                        <span class="col-md-4 text-right">
                            @Html.Label("Is N/A checkbox required for section : ", new { @class = "required" })
                        </span>
                        <span class="col-md-4">
                            <select ng-model="IsNAForSection" name="nasection" required style="margin-right: 240px;">
                                <option value="" selected="selected">Select</option>
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                        </span>
                        <span class="col-md-4" style="color: red" ng-messages="myForm.nasection.$error" ng-if="myForm.nasection.$dirty">
                            <span ng-message="required">Please select True/False</span>
                        </span>
                    </div>
                    <div class="row">
                        <span class="col-md-4 text-right">
                            @Html.Label("Start Date : ", new {@class = "required"})
                        </span>
                        <span class="col-md-4">
                            <input type="text" ng-model="StartDateString" required name="startdate"
                                   pattern="/^(0[1-9]|1[012])[- \/.](0[1-9]|[12][0-9]|3[01])[- \/.]((?:19|20)\d\d)$/" />
                        </span>
                        <span class="col-md-4" style="color: red" ng-messages="myForm.startdate.$error" ng-if="myForm.startdate.$dirty || myForm.startdate.$touched">
                            <span ng-message="required">Start Date is required. Please enter a valid date (mm/dd/yyyy)</span>
                        </span>
                    </div>


                    <div class="container-fluid" style="margin-top: 30px">
                        <div id="dvSubmit" class="row">
                            <span class="col-md-12 text-center">
                                <input type="button" class="btn-primary" value="Submit" ng-disabled="myForm.$invalid" ng-click="AddUpdateEmployee()" title="Submit is disabled until all the information is entered"/>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
<script src="~/Scripts/App/Controllers/DataEntryFormCtrl.js"></script>