﻿@model SecurityQuestionViewModel
@{
    ViewBag.Title = "Choose and Answer Security Questions";
}

<hgroup class="title">
    @*<h1>@ViewBag.Title</h1>*@
</hgroup>
<section id="registerUser" style="width:960px;">
    @using (Html.BeginForm("RegisterConfirm", "Account", FormMethod.Post, new { style = "margin:auto;" }))
    {
        @Html.AntiForgeryToken()
        Html.RenderPartial("_SecurityQuestions");       
        <div class="container-fluid">
            <div class="row" style="margin-top:20px;">
                <span class="col-md-3 text-right">
                </span>
                <span class="col-md-9">
                    <input type="submit" value="Register" />
                </span>
            </div>
        </div>
    }
</section>


