﻿@model HUDHealthcarePortal.Model.OPAViewModel


@{
    ViewBag.Title = "";

}


<section id="projectactionform" style="width: 1300px; height: 1150px;">
    <div id="dialogCommon"></div>
    @if (Model.RequestStatus == 2)
    {


        <h4 style="text-align: center;"><b>Project Action Request Form (Approved)</b></h4>
    }

    else if (Model.RequestStatus == 5)
    {


        <h4 style="text-align: center;"><b>Project Action Request Form (Denied)</b></h4>
    }
    else
    {
        <h4 style="text-align: center;"><b>Project Action Request Form </b></h4>
    }

    @using (Html.BeginForm("ApproveOrDeny", "OPAForm", FormMethod.Post, new { enctype = "multipart/form-data", style = "margin:auto;", id = "projectActionFrm"}))
    {

        @Html.HiddenFor(m => m.RequestStatus, new { id = "requestStatus" })
        @Html.HiddenFor(m => m.Concurrency, new { id = "Concurrency" })
        @Html.HiddenFor(m => m.TaskGuid, new { id = "TaskGuid" })
        @Html.HiddenFor(m => m.SequenceId, new { id = "SequenceId" })
        @Html.HiddenFor(m => m.AssignedBy, new { id = "AssignedBy" })
        @Html.HiddenFor(m => m.FhaNumber, new { id = "FhaNumber" })
        @Html.HiddenFor(m => m.GroupTaskId, new { id = "GroupTaskId" })
        @Html.HiddenFor(m => m.GroupTaskInstanceId, new { id = "GroupTaskInstanceId" })
        @Html.HiddenFor(m => m.ProjectActionTypeId, new { id = "ProjectActionTypeId" })
        @Html.HiddenFor(m => m.ProjectActionFormId, new { id = "ProjectActionFormId" })
        @Html.HiddenFor(m => m.GroupTaskCreatedOn, new { id = "GroupTaskCreatedOn" })
        @Html.HiddenFor(m => m.CreatedOn, new { id = "CreatedOn" })
        @Html.HiddenFor(m => m.CreatedBy, new { id = "CreatedBy" })
        @Html.HiddenFor(m => m.ModifiedBy, new { id = "ModifiedBy" })
        @Html.HiddenFor(m => m.ModifiedOn, new { id = "ModifiedOn" })
        @Html.HiddenFor(m => m.ProjectActionDate, new { id = "ProjectActionDate" })
        @Html.HiddenFor(m => m.RequestDate, new { id = "RequestDate" })
        @Html.HiddenFor(m => m.ServicerSubmissionDate, new { id = "ServicerSubmissionDate" })
        @Html.HiddenFor(m => m.PropertyName, new { id = "PropertyName" })
        @Html.HiddenFor(m => m.RequesterName, new { id = "RequesterName" })
        @Html.HiddenFor(m => m.IsAgreementAccepted, new { id = "IsAgreementAccepted" })
        @Html.HiddenFor(m => m.IsEditMode, new { id = "IsEditMode" })
        @Html.HiddenFor(m => m.IsPAMReport, new { id = "IsPAMReport" })
        @Html.HiddenFor(m => m.ProjectActionName, new { id = "ProjectActionName" })
        @Html.HiddenFor(m => m.IsPAMReport, new { id = "IsPAMReport" })
        @Html.HiddenFor(m => m.IsViewFromGroupTask, new { id = "IsViewFromGroupTask" })
        @Html.HiddenFor(m => m.IsReassigned, new { id = "IsReassigned" })
        @Html.HiddenFor(m => m.ServicerComments, new { id = "ServicerComments" })
        @Html.HiddenFor(m => m.TaskInstanceId, new { id = "TaskInstanceId" })

        @Html.HiddenFor(m => m.userName, new { id = "UserName" })
        @Html.HiddenFor(m => m.userRole, new { id = "UserRole" })
        @Html.HiddenFor(m => m.hasReviewComments, new { id = "HasReviewComments" })

        @Html.HiddenFor(m => m.PropertyAddress.AddressLine1)
        @Html.HiddenFor(m => m.PropertyAddress.City)
        @Html.HiddenFor(m => m.PropertyAddress.StateCode)
        @Html.HiddenFor(m => m.PropertyAddress.ZIP)

        @Html.HiddenFor(m => m.IsAddressChange)



        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right required">
                    @Html.Label("FHA Number", new { @class = "required" })
                </span>
                <span class="col-md-4">
                    @Html.LabelForModel(Model.FhaNumber ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Property Name")
                </span>
                <span class="col-md-4">
                    @Html.LabelForModel(Model.PropertyName ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
            </div>
        </div>
        <hr />
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-10 text-center">
                    @Html.Label("Property Address:")
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Street Address")
                </span>
                <span class="col-md-4">
                    @Html.LabelForModel(Model.PropertyAddress.AddressLine1 ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("City")
                </span>
                <span class="col-md-4">
                    @Html.LabelForModel(Model.PropertyAddress.City ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("State")
                </span>
                <span class="col-md-4">
                    @Html.LabelForModel(Model.PropertyAddress.StateCode ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Zip code")
                </span>
                <span class="col-md-4">
                    @Html.LabelForModel(Model.PropertyAddress.ZIP ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
            </div>
        </div>
        <div class="container-fluid" style="padding-top: 15px">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Is the property address listed correctly?")
                </span>
                <span class="col-md-1 text-right">
                    <label>Yes</label>
                    <span>

                        @Html.RadioButtonFor(m => m.IsAddressChange, true, new { @id = "rbYes", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;", @disabled = "disabled" })

                    </span>
                </span>
                <span class="col-md-1 text-right">
                    <label>No</label>
                    <span>

                        @Html.RadioButtonFor(m => m.IsAddressChange, false, new { @id = "rbNo", @class = "rbFakeClass", @style = "width:20px;margin-left:30px;", @disabled = "disabled" })

                    </span>
                </span>
            </div>
        </div>
        <hr />
        <div class="container-fluid" style="padding-top: 15px;display:none">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Date of Request")
                </span>
                <span class="col-md-4">
                    @Html.LabelForModel(string.Format("{0:MM/dd/yyyy}", Model.RequestDate) ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
            </div>
        </div>
        <div class="container-fluid" style="padding-top: 15px">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Requester's Name")
                </span>
                <span class="col-md-4">
                    @Html.LabelForModel(Model.RequesterName ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
            </div>
        </div>
        <div class="container-fluid" style="padding-top: 15px">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Date of Servicer's Submission")
                </span>
                <span class="col-md-4">
                    @Html.LabelForModel(string.Format("{0:MM/dd/yyyy h:mm tt }", Model.ServicerSubmissionDate) ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
            </div>
        </div>
        <div class="container-fluid" style="padding-top: 15px">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Project Action Request Type", new { @class = "required" })
                </span>
                <span class="col-md-4">
                    @Html.LabelForModel(Model.ProjectActionName ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
            </div>
        </div>
        <hr />
        <div class="container-fluid" style="padding-top: 15px">
            <div class="row">
                @Html.Partial("_OpaReviewerHistoryGrid", Model)
            </div>
        </div>
        
  
        <hr />
        <div id="dvEdit" class="container-fluid">
            <div class="container-fluid">
                <div class="row">
                    <span class="col-md-4 text-right">
                        @Html.Label("Request Additional Information:")
                    </span>
                    <span class="col-md-2 text-right">
                        <label>Yes</label>
                        <span>
                            @Html.RadioButtonFor(m => m.IsRAI, true, new { @class = "rbFakeClass", @style = "width:20px;margin-left:30px;" })
                        </span>
                    </span>
                    <span class="col-md-2 text-right">
                        <label>No</label>
                        <span>
                            @Html.RadioButtonFor(m => m.IsRAI, false, new { @class = "rbFakeClass", @style = "width:20px;margin-left:30px;" })
                        </span>
                    </span>
                </div>
            </div>
            <hr />
            <div id="dvAdditionalRequest" class="row" style="margin-top:10px">
                <div class="row" style="margin-top:10px">
                    <span class="col-md-4 text-right" style="margin-top: 15px;">
                        <label class="required">Request Additonal Information Comments :</label>
                    </span>
                    <span class="col-md-4 text-left" style="margin-top: 15px;">
                        @Html.TextAreaFor(m => m.AdditionalInformation.AEComment, new { id = "txtRAI", @style = "height:70px;width:300px;", maxlength = "500" })
                    </span>
                </div>
                <div id="dvRai" class="container-fluid" style="margin-top:10px">
                    <div class="row" style="margin-top: 10px;">
                        <span class="col-md-11 text-center" style="padding-right:10px">
                            <input type="submit" value="Request Additional Information" id="btnRAI" name="submitButton" />
                        </span>
                    </div>
                </div>
            </div>
            <div id="dvSubmit" class="row" style="margin-top:10px">
                <div class="row" style="margin-top:10px">
                    <span class="col-md-4 text-right" style="margin-top: 15px;">
                        <label class="required">Comments :</label>
                    </span>
                    <span class="col-md-3" style="  margin-top: 10px;">
                        @Html.TextAreaFor(m => m.AEComments, new { id = "txtAEComments", @style = "height:70px;width:300px;", maxlength = "500" })
                    </span>
                </div>

                <div class="container-fluid" style="padding-top: 15px">
                    <div class="row">
                        <span class="col-md-5 text-right">
                            <input type="submit" value="Approve" id="btnApprove" name="submitButton" />
                        </span>
                        <span class="col-md-1 text-right">
                            <input type="submit" value="Deny" id="btnDisApprove" name="submitButton" />
                        </span>

                    </div>
                </div>
            </div>

        </div>

        <div class="container-fluid">
            @if (Model.IsEditMode == false)
            {
                if (Model.IsReassigned.HasValue && Model.IsReassigned.Value == true)
                {
                <div class="row">
                    <span class="col-md-4 text-right" style="margin-top: 10px;">
                    </span>
                    <span class="col-md-4 text-left" style="margin-top: 10px;">
                        @Html.ActionLink("Return to My ReAssigned Tasks", "MyReAssignmentTasks", "TaskReAssignment", new { page = TempData["page"], sort = TempData["sort"], sortdir = TempData["sortdir"] }, new { style = "text-decoration:underline" })
                    </span>
                </div>
                }
                else if (!Model.IsPAMReport)
                {

                <div class="row">
                    <span class="col-md-4 text-right" style="margin-top: 10px;">
                    </span>
                    <span class="col-md-4 text-left" style="margin-top: 10px;">
                        @Html.ActionLink("Return to My Tasks", "MyTasks", "Task", new { page = TempData["page"], sort = TempData["sort"], sortdir = TempData["sortdir"] }, new { style = "text-decoration:underline" })
                    </span>
                </div>
                }
                else
                {
                <div class="row">
                    <span class="col-md-4 text-right" style="margin-top: 10px;">
                    </span>
                    <span class="col-md-4 text-left" style="margin-top: 10px;">
                        @Html.ActionLink("Return to PAM Report", "Index", "PAMReport", new { wlmIds = ViewData["wlmIds"], aeIds = ViewData["aeIds"], fromDate = ViewData["fromDate"], toDate = ViewData["toDate"], status = ViewData["status"], projectAction = ViewData["projectAction"], page = ViewData["page"], sort = ViewData["sort"], sortdir = ViewData["sortdir"] }, new { style = "text-decoration:underline" })
                    </span>
                </div>
                @*</div>*@
                <div class="row">
                    <span class="col-md-4">
                        @Html.HiddenFor(m => m.PropertyName)
                    </span>
                </div>
                }
            }
        </div>
    }
</section>

<script>

    function hideColumn(columnIndex) {
        $('.webGrid td:nth-child(' + (columnIndex + 1) + '),th:nth-child(' + (columnIndex + 1) + ')').hide();
    }

    $(document).ready(function () {

        //hideColumn(9);
        if ('@Model.IsApprovedPopupDisplayedForAe' == 'True') {
            disableAllLinks();
            $('#dialogCommon').dialog('open');
        }
        $('#dialogCommon').dialog({
            title: '@TempData["Title"]',
            autoOpen: '@TempData["bAutoOpen"]' == 'True' ? true : false,
            autoOpen: false,
            resizable: '@TempData["bResizable"]' == 'True' ? true : false,
            height: '@TempData["winHeight"]',
            width: '@TempData["winWidth"]',
            show: { effect: 'fade' },
            modal: true,
            draggable: '@TempData["bDraggable"]' == 'True' ? true : false,
            closeOnEscape: false,
            close: function (event, ui) {
                $(this).dialog('close');
            },
            open: function (event, ui) {
                //debugger;
                $(this).load('@TempData["sLoadUrl"]', { id: g_modal_paramId });
                if ('@TempData["bShowCloseBtn"]' == 'False')
                    $('.ui-dialog-titlebar-close').hide();
            }
        });

        function disableAllLinks() {
            links = document.getElementsByTagName('A');
            buttons = document.getElementsByTagName('input');

            for (var i = 0; i < links.length; i++) {
                links[i].href = "javascript:return false";
            }

            for (var i = 0; i < buttons.length; i++) {
                buttons[i].disable = true;
            }
        };
    });

    $(document).ready(function () {

        if ($('#IsEditMode').val() == "False") {
            document.getElementById('dvEdit').style.display = 'none';
        }
        else {
            $('input:radio[name="IsRAI"]').change(function () {

                if ($(this).val() == 'True') {
                    document.getElementById("dvAdditionalRequest").style.display = 'block';
                    document.getElementById("dvSubmit").style.display = 'none';
                    $('#txtAEComments').val('');
                }
                else {
                    document.getElementById("dvAdditionalRequest").style.display = 'none';
                    document.getElementById("dvSubmit").style.display = 'block';
                    $('#txtRAI').val('');
                }
            });

            if ($('input:radio[name="IsRAI"]')[0].checked === true == 'True') {
                document.getElementById("dvAdditionalRequest").style.display = 'block';
            }
            else {
                document.getElementById("dvAdditionalRequest").style.display = 'none';
                $('#txtRAI').val('');
            }
        }

        $('input[id="btnApprove"]').click(function () {
            $('#requestStatus').val(2);
        });

        $('input[id="btnDisApprove"]').click(function () {
            if ($('#txtAEComments').val() == '') {
                alert("Comments are required");
                $('#txtAEComments').focus();
                return false;
            }
            else {
                $('#requestStatus').val(5);
            }
        });

        $('input[id="btnRAI"]').click(function () {
            if ($('#txtRAI').val() == '') {
                alert("Request additional information comments are required");
                $('#txtRAI').focus();
                return false;
            }
            else {
                $('#requestStatus').val(7);
            }
        });
    });
</script>
