﻿@using HUDHealthcarePortal.BusinessService

@model HUDHealthcarePortal.Model.Prod_FormAmendmentTaskModel
@{
	/**/

	ViewBag.Title = "_AttachAmendments";
	//Layout = null;
}

<script src="~/Scripts/signature_pad.min.js"></script>
<script src="~/Scripts/SignaturePadInit.js"></script>
<script>
	$(document).ready(function () {
		document.getElementById('layoutheaderlogo').style.display = 'none';
		document.getElementById('layoutmenu').style.display = 'none';	
	});
</script>

@Html.HiddenFor(m => m.CreatedBy, new { id = "hidUserId" })
@Html.HiddenFor(m => m.TaskxrefIdUI, new { id = "TaskxrefId" })

@Html.HiddenFor(m => m.CommitmentTerminationDate, new { id = "commitmentTerminationDate" })
@Html.HiddenFor(m => m.FirmAmendmentIssueDate, new { id = "firmAmendmentIssueDate" })
@Html.HiddenFor(m => m.FirmCommitmentSignedDate, new { id = "firmCommitmentSignedDate" })


<div>
	<div style="float:left"><img class="img-valign" src="~/images/HUDMainPageLogo_1.jpg" style="width:60px;height:60px;" alt="" /></div>
	<div class="text2" style="float:initial; text-align:center"><b>U.S. DEPARTMENT OF HOUSING AND URBAN DEVELOPMENT</b><br>WASHINGTON,DC 20410-8000</div>
	<br /><br />OFFICE OF HOUSING
</div>

<div>
	<br />
	<label> @Model.FirmAmendmentIssueDate.Value.ToShortDateString() </label><br /><br />
	<label>@Model.LenderAddressee</label><br />
	<label>@Model.AddresseeTitle</label><br />
	<label>@Model.LenderCompanyName</label><br />
	<label style="font-weight: normal">Re:&nbsp;&nbsp;Firm Commitment Amendment:&nbsp; </label><label style="font-weight: bold">
		#@Model.FirmAmendmentNum
	</label><br />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FHA No.:&nbsp;<label>@Model.FHANumber</label><br />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Project Name:&nbsp;<label>@Model.ProjectName</label><br />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Project Address:&nbsp;<label>@Model.ProjectAddress</label><br />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Borrower:&nbsp;<label>@Model.Borrower</label><br /><br />

	Dear&nbsp;&nbsp;<label>@Model.SaluatationType</label> <label>@Model.LastName</label><br />
	&nbsp;&nbsp;&nbsp;The U.S. Department of Housing and Urban Development reviewed your request for an Amendment to the Firm Commitment issued on <label> @Model.FirmCommitmentSignedDate</label> ,<br />
	for the above-referenced property. For all the numbers checked below, this Firm Commitment is hereby amended as follows:<br />
	&nbsp;&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor(m => m.Party_Propert_Name_cb)&nbsp;1. <label>[Party or property name]</label><br />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The <label>@Model.PartyPropertyName</label> name is <label>@Model.Party_Propert_Name</label><br />
	&nbsp;&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor(m => m.Party_Property_Address_Name_cb)&nbsp;2. <label>[Party or property address]</label><br />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The <label>@Model.PartyPropertyAddress</label> address is <label>@Model.Party_Property_Address_Name</label><br />
	&nbsp;&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor(m => m.LoanAmount_cb)&nbsp;3. <label>[Loan amount]</label><br />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Lender has agreed to make a loan to the Borrower in an anmount not exceeding the sum of <label>$@Model.LoanAmount</label> (previously) <label>$@Model.PrevLoanAmount</label>.<br />
	&nbsp;&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor(m => m.InterestRate_cb)&nbsp;4. <label>[Interest rate]</label><br />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Note shall bear interest at the rate of <label>$@Model.InterestRate</label> percent per annum payable on the first day of each month on the outstanding balance of principal<br />
	&nbsp;&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor(m => m.MonthlyPayment_cb)&nbsp;5. <label>[Monthly P&I payment without change in number of monthly payments]</label><br />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Note shall be payable on a level annuity basis by monthly payments of principal and interest in the amount of <label>$@Model.MonthlyPayment</label><br />
	&nbsp;&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor(m => m.DifferentMonthlyPayment_cb)&nbsp;6. <label>[Monthly P&I payment with change in number of monthly payments]</label><br />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Note shall be payable on a level annuity basis by <label>@Model.DueMonth</label> monthly payments of principal and interest in the amount of <label>$@Model.DifferentMonthlyPayment</label>. The maturity and final<br />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;payment date shall be <label>@Model.DueYear</label> years and <label>@Model.DueMonth</label> months(s) following the due date of the first payment to principal.<br />
	&nbsp;&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor(m => m.CommitmentTerminationDate_cb)&nbsp;7. <label>[Extension]</label><br />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This Commitment shall terminate on <label>@Model.CommitmentTerminationDate.Value.ToShortDateString()</label>.<br />
	&nbsp;&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor(m => m.R4RAmount_cb)&nbsp;8. <label>[Initial or additional reserves deposit]</label><br />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;There shall be an <label>@Model.AdditionalInitialDepositType</label> deposit in the amount of not less than  <label>$@Model.R4RAmount</label> made to the Reserve Fund for Replacements.<br />
	&nbsp;&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor(m => m.CriticalRepairCost_cb)&nbsp;9. <label>[Critical repairs]</label><br />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HUD estimates that the critical repairs will cost <label>$@Model.CriticalRepairCost</label>.<br />
	&nbsp;&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor(m => m.RemainingRepairCostExihibitC_cb)&nbsp;10. <label>[Non-critical and borrower elective repairs]</label><br />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HUD estimates that the remaining repairs identified on the attached Exhibit C will cost <label>$@Model.RemainingRepairCostExihibitC</label>. An escrow of <label>$@Model.EscrowEstimateType%</label> of this amount must be established<br />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;prior to Endorsement.It is understood that 100% of the estimated cost of any non-critical and borrowe-elective repairs will come from loan proceeds<br />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;and an additional cash amount (or letter of credit) of not less than <label>@Model.RepairCostEstimate%</label> of the repair cost estimate will also be placed in escrow.<br />
	&nbsp;&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor(m => m.SpecialCondition_cb)&nbsp;11. <label>[Special condition]</label><br />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>@Model.SpecialCondition</label> is deleted.<br />
	&nbsp;&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor(m => m.AnnualLeasePayment_cb)&nbsp;12. <label>[Operating lease payment]</label><br />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Operating Lease between the Borrower/Master Tenant and the Lessee/Operator must have a minimum annual lease payment of at lease <label>$@Model.AnnualLeasePayment</label>.<br />
	&nbsp;&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor(m => m.ExhibitLetter_cb)&nbsp;13. <label>[Exhibit replacement]</label><br />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Exhibit <label>@Model.ExhibitLetter</label> is replaced by the attached exhibit of the same name.<br />
	&nbsp;&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor(m => m.Other_cb)&nbsp;14.<label> [Other changes]</label><br />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>@Model.Other</label>.<br />
	&nbsp;&nbsp;&nbsp;&nbsp;This amendment supersedes all prior amendments. All other terms and agrements set forth in the Firm Commitment issued on the date set forth above remain in effect.<br />
	&nbsp;&nbsp;&nbsp;&nbsp;If you have any questions or concerns, please do not hesitate to contact <label>@Model.CC_Name</label> at <label>@Model.CC_ContactDetails</label>.<br /><br />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sincerely,<br />

	<table>
		<tr>
			<td>
				<img src="@Url.Content(Model.AgentPictureLocation)" alt="IMAGES" />
			</td>
			<td>
				@if (@RoleManager.IsProductionWLM(UserPrincipal.Current.UserName) == true)
				{
					<img src="@Url.Content(Model.WlmPictureLocation)" alt="IMAGES" />
				}
			</td>
		</tr>
		<tr>
			<td>
				<label>@Model.AuthorizedAgent</label>
			</td>
			<td>
				@if (@RoleManager.IsProductionWLM(UserPrincipal.Current.UserName) == true)
				{
					<label>@Model.WLM</label>}
			</td>
		</tr>
		<tr>
			<td>
				<label>Authorized Agent</label>
			</td>
			<td>
				@if (@RoleManager.IsProductionWLM(UserPrincipal.Current.UserName) == true)
				{
					<label>Authorized Agent</label>
				}
			</td>
		</tr>
		<tr>
			<td>
				<label>Office of Residential Care Facilities</label>
			</td>
			<td>
				@if (@RoleManager.IsProductionWLM(UserPrincipal.Current.UserName) == true)
				{
					<label>Office of Residential Care Facilities</label>
				}
			</td>
		</tr>
	</table><br /><br /><br />
	@*&nbsp;&nbsp;&nbsp;&nbsp;<label>Attachments:</label><br />
		@Html.CheckBoxFor(m => m.AttachExhibitA, new
		{
			id = "cbIsExhibitA",
			@style = "width:80px;margin-left:7px;"
		})Exhibit A
		@Html.CheckBoxFor(m => m.AttachExhibitB, new
		{
			id = "cbIsExhibitB",
			@style = "width:80px;margin-left:7px;"
		})Exhibit B
		@Html.CheckBoxFor(m => m.AttachExhibitC, new
		{
			id = "cbIsExhibitC",
			@style = "width:80px;margin-left:7px;"
		})Exhibit C
		@Html.CheckBoxFor(m => m.AttachHUD92264aORCF, new
		{
			id = "cbIsHUD92264aORCF",
			@style = "width:80px;margin-left:7px;"
		})HUD-92264a-ORCF
		<br />*@
	@*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<br /><br />(Revised 5/6/2015)<br />
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<label>www.hud.gov</label>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<label>espanol.hud.gov</label>*@


	<table style="width:1200px">
		<tr style="width:1200px"><td colspan="2" style="text-align:right;">(Revised 5/6/2015)</td></tr>
		<tr style="width:1200px"><td style="width:800px;text-align:center"><label>www.hud.gov</label></td><td style="width:800px;text-align:left"><label>espanol.hud.gov</label></td></tr>
	</table>
</div>


<style type="text/css">
	.table-striped > tbody > tr:nth-child(odd) > td,
	.table-striped > tbody > tr:nth-child(odd) > th {
		background-color: #d9edf7;
	}

	.table {
		font-family: Arial;
		font-size: 12px;
		font-weight: bold;
	}

	.table-curved {
		border-collapse: collapse;
		/*border-collapse: separate;*/
		border: solid #ddd 1px;
		border-radius: 8px;
		border-left: 0px;
		border-top: 0px;
	}



		.table-curved > thead:first-child > tr:first-child > th {
			border-bottom: 0px;
			border-top: solid #ddd 1px;
		}

		.table-curved td, .table-curved th {
			/*border-left: 1px solid #ddd;*/
			border-top: 1px solid #ddd;
		}

		.table-curved tr {
			border-top: 1px solid #ddd;
			border-collapse: collapse;
		}

		.table-curved > :first-child > :first-child > :first-child {
			border-top-left-radius: 8px;
		}

		.table-curved > :first-child > :first-child > :last-child {
			border-top-right-radius: 8px;
		}

		.table-curved > :last-child > :last-child > :first-child {
			border-bottom-left-radius: 8px;
		}

		.table-curved > :last-child > :last-child > :last-child {
			border-bottom-right-radius: 8px;
		}

	.trThickBorder {
		outline: thin solid black;
	}

	
	
</style>
