﻿@model Model.Production.ReviewerInfo
      <style>
          fieldset {
              -webkit-border-radius: 8px;
              -moz-border-radius: 8px;
              border-radius: 8px;
              border: 1px solid #d9edf7;
          }
          legend {
              border: solid 1px black;
              -webkit-border-radius: 8px;
              -moz-border-radius: 8px;
              border-radius: 8px;
          }
          .form-group {
              margin-left:2px;
          }
         
      </style>
@*<p id="toggle">
    <span><a class="btn btn-default"> Under Writing </a> </span>
    <span> <a class="btn btn-default">Closing</a></span>
</p>
<div id="underWriting">*@
    @if (Model.AssignedTo != null)
    {
        @Html.HiddenFor(m=>m.ReviewerTypeId)
        @Html.HiddenFor(m => m.IsAssigned, new { id = "txtIsAssigned" })


        <div class="form-horizontal col-lg-12">
            <fieldset>
                <legend class="legend">Details</legend>

                <div class="col-lg-8">
                    <div class="form-group">
                        <div class="control-label col-sm-5">
                            @if (Model.Reviewertype == "Survey")
                            {
                                @Html.LabelFor(m => m.IsAssigned, "Is OHP Survey Review Required?")
                            }
                            else if (Model.Reviewertype == "Environmentalist")
                            {
                                @Html.LabelFor(m => m.IsAssigned, "Is Environmental Review Required?")
                            }
                            else
                            {
                                @Html.LabelFor(m => m.IsAssigned, "Was " + @Model.Reviewertype + " Assigned?")
                            }
                        </div>
                        <div class="col-sm-4" style="margin-top:2px;">
                            @if (Model.IsAssigned)
                            {
                                <span>
                                    @Html.CheckBoxFor(m => m.IsAssigned, new { @checked = "checked", disabled = true, id = @Model.Reviewertype + "IsAssigned", @style = "width:20px;margin-left:10px;" }) Yes

                                </span>
                            }
                            else
                            {
                                <span>

                                    @Html.CheckBoxFor(m => m.IsAssigned, new { @checked = "checked", disabled = true, id = @Model.Reviewertype + "IsAssignedFalse", @style = "width:20px;margin-left:30px;" }) No

                                </span>
                            }


                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-5">
                            @Html.LabelFor(m => m.AssignedTo, "Date Assigned:")
                        </div>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.DateAssigned, "{0:MM/dd/yyyy}", new { disabled = true, @class = "form-control" })
                        </div>

                    </div>
                    @if (Model.StatusId == (int)ProductionAppProcessStatus.ProjectActionRequestComplete)
                    {
                         <div class="form-group">
                        <div class="control-label col-sm-5">
                            @Html.LabelFor(m => m.AssignedTo, "Date Completed:")
                        </div>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.DateCompleted,"{0:MM/dd/yyyy}", new { disabled = true, @class = "form-control" })
                        </div>

                    </div>
                    }
                   
                    <div class="form-group">
                        <div class="control-label col-sm-5">
                            @if (Model.Reviewertype == "Survey")
                            {
                                @Html.LabelFor(m => m.AssignedTo, "OH " + @Model.Reviewertype + " Assigned:")
                            }
                            else
                            {
                                @Html.LabelFor(m => m.AssignedTo, @Model.Reviewertype + " Assigned:")
                            }
                        </div>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.AssignedTo, new { disabled = true, @class = "form-control" })
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-5">
                            @if (Model.Reviewertype == "Survey")
                            {
                                @Html.LabelFor(m => m.Status, "OHP " + @Model.Reviewertype + " Status:")
                            }
                            else
                            {
                                @Html.LabelFor(m => m.Status, @Model.Reviewertype + " Status:")
                            }
                        </div>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.Status, new { disabled = true, @class = "form-control" })
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-5" style="margin-top: -26px;">
                            @Html.LabelFor(m => m.Comments, @Model.Reviewertype + " Comments:")
                        </div>
                        <div class="col-sm-5" style="margin-left: -207px;">
                            @Html.TextAreaFor(m => m.Comments, new { disabled = true, @class = "form-control", @Style = "width: 415px;", id = @Model.Reviewertype + "oldComment", @rows = "6" })
                        </div>

                    </div>
                </div>
                @if (Model.IsAssigned)
                {
                    
                    <form role="form" id="@Model.Reviewertype" class="reviewerCommentForm">
                        <div class="col-lg-3">

                            <div class="col-sm-3" style="margin-left: -131px">
                                <label for="comment">Comment:</label>                             
                                @Html.TextArea("reviewerNewComment", new {@class = "form-control", @spellcheck = true, @style = "width: 440px;height:277px; margin-top:2px;", id = @Model.Reviewertype + "comment", @rows = "4"})
                                <div class="form-group" style="margin-left: 2px; margin-top: 2px;">
                                    <button class="btn btn-default" style="border-color: #999">Add Comment</button>
                                </div>
                            </div>

                        </div>
                        <span class="col-md-6">
                            <button id="btnAttachRev" class="btn btn-default"
                                    style="border-color: #999">
                                Attach
                            </button>
                        </span>
                    </form>
                }

            </fieldset>
        </div>

    }
 else
{
 <div class="alert alert-info">
    <strong>Info!</strong> The Selected reviwer Is not assigned for this Process. Information will be available once this Reviewer is assigned Application/Closing processes
</div>
}

<script type="text/javascript">
    $(document).ready(function () {
        var reviewer = '@Model.IsAssigned';
        var reviewerAssigned = $('#txtIsAssigned').val();
        var isAssigned = $('#' + reviewer + 'IsAssigned').val();
        var isNotAssigned = $('#' + reviewer + 'IsAssignedFalse').val();

        if (reviewerAssigned === "True") {
            $('#' + reviewer + 'IsAssigned').prop('checked', true);
           
        } else {
            $('#' + reviewer + 'IsAssignedFalse').prop('checked', true);
        }
       
      
        $(".reviewerCommentForm").submit(function (e) {         
            e.preventDefault();
            var formId = '@Model.Reviewertype';         
            var activeTab = $('.nav-pills .active').text();
            var subFormId = formId.substring(3, 0);
            var subActiveTab = activeTab.replace(/\W/g, '');
            //compare formId with active tab name
            if (subFormId == subActiveTab.substring(3, 0)) {
                var taskXrefId = '@Model.TaskXrefId';
                var taskInstanceId = '@ViewBag.taskInstanceId';
                addComment(taskInstanceId, formId);

            }
       
        });       
        function addComment(id, formId) {
            var name = formId + "comment";
            var comment = $("#" + name).val();
            var oldComment = $('#' + formId + "oldComment");         

            if (comment != '') {
                var url = '@Url.Action("UpdateComment", "ProductionQueue")';
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: { taskInstacneId: id, reviwerType: $('#ReviewerTypeId').val(), comment: comment },
                    success: function (data) {
                        if (oldComment.val() == "") {
                            oldComment.append(comment);
                            $("#" + name).val('');
                        }

                        else {
                            oldComment.append("\n" + comment);
                            $("#" + name).val('');
                        }                 
                    },
                    error: function (data) {
                        alert("Error on Updating Comment");
                    },

                });
            }
        };

        $('#btnAttachRev').click(function (e) {
            e.preventDefault();
            var reviewerTypeId = '@Model.ReviewerTypeId';
            var fileType = "";
            @*if (reviewerTypeId === '@((Int32)ProductionView.UnderWriter)') {
                fileType = '@(Enum.GetName(typeof(SharepointSections), SharepointSections.appraisalInfo))';
            } else*@
            if (reviewerTypeId === '@((Int32)ProductionView.Environmentalist)') {
                fileType = '@(Enum.GetName(typeof(SharepointSections), SharepointSections.envInfo))';
                $('.backupOGCInfo').empty();
                $('.OGCInfo').empty();
                $('.SurveryInfo').empty();
            } else if (reviewerTypeId === '@((Int32)ProductionView.Survey)') {
                fileType = '@(Enum.GetName(typeof(SharepointSections), SharepointSections.surveyInfo))';
                $('.EnvironmentalInfo').empty();
                $('.backupOGCInfo').empty();
                $('.OGCInfo').empty();
            } else if (reviewerTypeId === '@((Int32)ProductionView.Attorney)') {
                fileType = '@(Enum.GetName(typeof(SharepointSections), SharepointSections.ogcInfo))';
                $('.backupOGCInfo').empty();
                $('.SurveryInfo').empty();
                $('.EnvironmentalInfo').empty();
            }
           else if (reviewerTypeId === '@((Int32)ProductionView.Appraiser)') {
                fileType = '@(Enum.GetName(typeof(SharepointSections), SharepointSections.appraisalInfo))';
                $('.backupOGCInfo').empty();
                $('.OGCInfo').empty();
                $('.SurveryInfo').empty();
                $('.EnvironmentalInfo').empty();
            }

            $('#exTab3 a[href="#10b"]').tab('show');
            $('#AttachFiles').load('@Url.Action("GetAttachFileInfo", "ProductionQueue")', { taskInstanceId: '@ViewBag.taskInstanceId', fileType: fileType });
            return false;
        });
    });
</script>