﻿@{
    ViewBag.Title = "Index";
}
<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/free-jqGrid/jquery.jqGrid.min.js"></script>
<link href="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />

<style type="text/css">
    .badge {
        color: #428bca;
        position: relative;
        top: 1px;
        right: -3px;
        padding: 2px 4px;
    }

    .btn-primary .badge {
        color: #428bca;
        background-color: #8bbce2;
    }

    .ui-jqgrid {
        font-family: Arial;
    }

        .ui-jqgrid > .ui-jqgrid-view {
            font-size: 12px;
        }

            .ui-jqgrid > .ui-jqgrid-view button {
                font-size: 10px;
            }

            .ui-jqgrid > .ui-jqgrid-view a {
                color: #428bca;
                font-weight: bolder;
            }

        jqdialog .glyphicon, .ui-jqgrid .glyphicon {
            font-size: 20px;
            top: auto;
            color: darkslateblue;
        }

    .overlay {
        position: fixed;
        background-color: #FAFAFA;
        z-index: 2147483647 !important;
        opacity: 0.8;
        overflow: hidden;
        text-align: center;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }
</style>
<script type="text/javascript">
    $(function () {

        //Optional: turn the chache off
        //$.ajaxSetup({ cache: false });

        $(".btnAssign").click(function () {

            $('#dialogContent').load(this.href, function () {
                $('#dialogDiv').modal({
                    backdrop: 'static',
                    keyboard: true
                }, 'show');
                //bindForm(this);
                $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
            });
            return false;
        });

    });
</script>

<div id='dialogDiv' class='modal fade in'>
    <div id='dialogContent'></div>
</div>
<div>
    <div class="col-md-12">
        <div class="panel with-nav-tabs panel-primary" style="width:1600px">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1primary" data-toggle="tab">Unassigned Tasks</a></li>
                    <li><a href="#tab2primary" id="tab2" data-toggle="tab">Assigned Tasks</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1primary">
                        <div class="form-horizontal row">
                            <div id="div_commonFilter" class="form-group col-md-12">
                                <label class="col-sm-2 control-label">Production Type:</label>
                                <div class="col-sm-2" style="margin-bottom: -10px; margin-right: -10px;">
                                    @Html.DropDownList("ApplicationType", null, new { @class = "form-control", id = "AppTypeId" })

                                </div>
                                <span class="col-sm-2" id="span_AdvancedSearch"><button id="btn_Advanced" class="btn btn-default"><i class="glyphicon glyphicon-search">Advanced</i></button></span>

                            </div>
                            <div id="div_advancedSearches" class="col-md-12" style="display: none;margin-left:2px; margin-right: 2px;">
                                <div id="div_advancedOne" class="form-group col-md-12">
                                    <label class="col-sm-2 control-label">Production Type:</label>
                                    <div class="col-sm-2" style="margin-bottom: -10px;">
                                        @Html.DropDownList("ApplicationType", null, new { @class = "form-control", id = "AppTypeAdvanced" })
                                    </div>

                                    <label class="col-sm-2 control-label">Date From:</label>
                                    <div class="col-sm-2" style="margin-bottom:-10px;">
                                        @Html.TextBox("FromDate", null, new { @class = "datepicker", style = "width:196px" })
                                    </div>
                                    <label class="col-sm-2 control-label">Date To:</label>
                                    <div class="col-sm-2" style="margin-bottom:-10px;">
                                        @Html.TextBox("ToDate", null, new { @class = "datepicker", style = "width: 196px" })
                                    </div>

                                </div>
                                <div id="div_advancedTwo" class="form-group col-md-12">

                                    <div id="div_Lender">
                                        <label class="col-sm-2 control-label">Lender:</label>
                                        <div class="col-sm-2">
                                            @Html.DropDownList("LenderID", null, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div id="div_LoanType">
                                        <label class="col-sm-2 control-label">Loan Type:</label>
                                        <div class="col-sm-3">
                                            @Html.DropDownList("LoanType", null, new { @class = "form-control", style = "width: 196px" })
                                        </div>
                                    </div>
                                </div>
                                <span class="col-lg-offset-2" style="margin-left: 17.666667%;">
                                    <button id="btn_search" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>Filter</button>
                                    <button id="btn_cancel" class="btn btn-default">Cancel</button>
                                </span>
                            </div>



                        </div>

                        <div id="productionQueueGrid">

                            <table id="ProductionQueue"></table>
                            <div id="pager"></div>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab2primary" style="width:1600px">
                        @Html.Partial("~/Views/Production/ProductionQueue/AssignedProductionTasks.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        "use strict";
        $(".datepicker").datepicker();
        var typeId = $('#AppTypeId').val();

        var $grid = $("#ProductionQueue");
        $grid.jqGrid({
            url: '@Url.Action("GetProductionTasks","ProductionQueue")',

            postData: { applicationType: typeId },
            datatype: 'json',
            //#84 added 'Prod Type Selected
            colNames: ['Task Name','Loan Type','Loan Amount', 'Action','Page Type','Prod Type Selected', 'Date Added', 'Lender', 'Type', 'Last Updated', '# Days In Queue', 'LIHTC', 'Notes','Project Details','Assign User' ,'Assigned By', 'Assigned To',],
            colModel: [
                {
                    name: "TaskName", index: "TaskName", width: 300, align: 'left',
                    //type: 'link',
                    cellattr: function (cellvalue, options, rowObject) {
                        if (rowObject.TaskName != null) {

                            //return ' style=" text-decoration: underline;Color:blue"';
                        }
                    },
                    formatter: function (cellvalue, options, rowObject) {

                        if (rowObject.TaskName == null) {
                            return "NA";
                        }
                        else {
                            if (rowObject.PageTypeId == '@((Int32)PageType.FhaRequest)') {
                                return '<a style=" text-decoration: underline;" href="/ProductionQueue/GetFhaRequestFormDetail/?taskInstanceId=' + rowObject.TaskInstanceId + '">' + rowObject.TaskName + '</a>';
                            }
                            else {
                                return '<a>' + rowObject.TaskName + '</a>';
                            }
                        }
                    }

                },
                { name: "LoanType", idex: "LoanType", width: 270, },
                  { name: "LoanAmount", idex: "LoanAmount", width: 250, align: 'right'},
                { name: "TaskInstanceId", idex: "TaskInstanceId", hidden: true, width: 70 },
                { name: "PageTypeId", idex: "PageTypeId", hidden: true, width: 70 },
                //{ name: "ProdDDLBType", idex: "ProdDDLBType", hidden: true, width: 70 },
                // #84 this fnction will send the project type value in a function
                {
                    name: "ProdDDLBType", index: "ProdDDLBType", width: 200,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.PageTypeId == '@((Int32)PageType.FhaRequest)')
                            return "FHA"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ProductionApplication)')
                            return "Produciton Application"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionSingleStage)')
                            return "Single Stage"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionTwoStageInitial)')
                            return "2 Stage Initial"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionTwoStageFinal)')
                            return "2 Stage Final"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ClosingAllExceptConstruction)')
                            return "Draft Closing"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ExecutedClosing)')
                            return "Executed Closing"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ClosingConstructionInsuredAdvances)')
                            return "closing advances"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ClosingConstructionInsuranceUponCompletion)')
                            return "closing completion"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionManagement)')
                            return "construction mgt"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.Form290)')
                            return "Form 290"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.Amendments)')
                            return "Amendment"
                    }
                },
                { name: "StartTime", idex: "StartTime", width: 250,  formatter: 'date', formatoptions: { newformat: 'm/d/Y' } },
                { name: "Lender", width: 200, },
                {
                    name: "Type", index: "Type", width: 200,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.PageTypeId == '@((Int32)PageType.FhaRequest)')
                            return "<span class='badge' style='color: whitesmoke;'> FHA</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ProductionApplication)')
                            return "<span class='badge' style='color: whitesmoke;'> APP</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionSingleStage)')
                            return "<span class='badge' style='color: whitesmoke;'> Single Stage</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionTwoStageInitial)')
                            return "<span class='badge' style='color: whitesmoke;'> 2 Stage Initial</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionTwoStageFinal)')
                            return "<span class='badge' style='color: whitesmoke;'> 2 Stage Final</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ClosingAllExceptConstruction)')
                            return "<span class='badge' style='color: whitesmoke;'> Draft Closing</span>"
                             else if (rowObject.PageTypeId == '@((Int32)PageType.ExecutedClosing)')
                            return "<span class='badge' style='color: whitesmoke;'> Executed Closing</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ClosingConstructionInsuredAdvances)')
                            return "<span class='badge' style='color: whitesmoke;'> closing advances</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ClosingConstructionInsuranceUponCompletion)')
                            return "<span class='badge' style='color: whitesmoke;'>closing completion</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionManagement)')
                            return "<span class='badge' style='color: whitesmoke;'> construction mgt</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.Form290)')
                            return "<span class='badge' style='color: whitesmoke;'> Form 290</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.Amendments)')
                            return "<span class='badge' style='color: whitesmoke;'>Amendment</span>"
                    }
                },
                { name: "ModofiedOn", index: "ModofiedOn", width: 270, formatter: 'date', formatoptions: { newformat: 'm/d/Y' } },
                { name: "DaysInQueue", idex: "DaysInQueue", width: 150  },
             	{ name: 'IsLIHTC', index: 'IsLIHTC', width: 150 },
                {
                    name: 'Notes', index: 'Notes', width: 150,
                    formatter: function (cellvalue, options, rowObject) {
                        return "<span class='glyphicon glyphicon-list-alt' onclick='productionNote(\"" +
                                 rowObject.TaskInstanceId +
                                 "\")';></span>";

                    }
                },
                {
                    name: 'SPData', index: 'SPData', width: 270,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.PageTypeId > '@((Int32)PageType.FhaRequest)' && rowObject.PageTypeId != @((Int32)PageType.Form290))
                            //return "<span class='glyphicon glyphicon-share' onclick='sharepointData(\"" +
                            //         rowObject.TaskInstanceId +
                            //         "\")';></span>";

                            return "<span onclick='sharepointData(\"" +
                                rowObject.TaskInstanceId +
                                "\")';> <img src=\'../Content/images/ProjectDetails_Image.png\'></span>";
                        else return "";

                    }
                },
                 {
                     name: 'Assign',
                     index: 'Assign',
                     width: 300,
                     formatter: function (cellvalue, options, rowObject) {

                         if (rowObject.PageTypeId == 4 && (rowObject.AssignedTo == null || rowObject.AssignedTo == "Queue")) {
                             return "<button class='btn btn-primary' onclick='assignFhaInsert(\"" +
                                 rowObject.TaskInstanceId +
                                 "\")';> Assign<span class='badge'> Fha</span></button>";
                         } else if (rowObject.PageTypeId == 5 || rowObject.PageTypeId == 6 || rowObject.PageTypeId == 7
                             || rowObject.PageTypeId == 8) {
                             return "<button  class='btn btn-primary' onclick='assignAppProcess(\"" +
                                 rowObject.TaskInstanceId +
                                 "\")';> Assign<span class='badge'> APP</span></button>";
                         }
                         else if (rowObject.PageTypeId == 9 ) {
                             return "<button   class='btn btn-primary' onclick='assignAppProcess(\"" +
                                 rowObject.TaskInstanceId +
                                 "\")';> Assign<span class='badge'> const Mgt</span></button>";
                         }
                         else if (rowObject.PageTypeId == 10 || rowObject.PageTypeId == 11 || rowObject.PageTypeId == 12) {
                             return "<button class='btn btn-primary' onclick='assignAppProcess(\"" +
                                 rowObject.TaskInstanceId +
                                 "\")';> Assign<span class='badge'> closing</span></button>";
                         }
                         else if (rowObject.PageTypeId == 16) {
                             return "<button class='btn btn-primary' onclick='assignForm290(\"" +
                                 rowObject.TaskInstanceId +
                                 "\")';> Assign<span class='badge'> 290</span></button>";
                         }
                         else if (rowObject.PageTypeId == 18) {
                             return "<button class='btn btn-primary' onclick='assignAppProcess(\"" +
                                 rowObject.TaskInstanceId +
                                 "\")';> Assign<span class='badge'>Amendment</span></button>";
                         }

                         else
                             return '';
                     }


                 },
            { name: "AssignedBy", index: "AssignedBy", width: 270, },
                { name: "AssignedTo", idex: "AssignedTo", width: 270 },

            ],
            pager: "#pager",
            rowNum: 40,
            rowList: [10, 20, 30, 40, 50],

            rownumbers: true,
            loadonce: false,
            caption: "Production Queue",
            height: "500px",
            autowidth: true,
            autoheight: true,
            shrinkToFit: true,
            cmTemplate: { sortable: false },
            autoencode: true,
            gridview: true,
            ignoreCase: true,
            width: 750,
            //loadonce:true,

            emptyrecords: 'No records to display',
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false
            },

            //scroll: 1,
            onSelectRow: function (rowid) {

                return false;
            },
            subGrid: true,
            subGridRowExpanded: function (subgrid_id, row_id) {
               // debugger;
                var subgrid_table_id, pager_id;
                var Type = 'FHA Request';
                var stat = false;
                subgrid_table_id = subgrid_id + "_t";
                $("#" + subgrid_id).html("<table id='" + subgrid_table_id + "' class='scroll'></table>");
                var selectedRow = $(this).getRowData(row_id).TaskInstanceId;
                var selectedProductionType = $(this).getRowData(row_id).ProdDDLBType; //#84 Contains Project type value
                var selectedProdViewCreaedDate = $(this).getRowData(row_id).StartTime; //#84 Contains Project type value


                //alert(selectedProductionType);
                //debugger;

                if ($(this).getRowData(row_id).Type.indexOf("FHA") == -1) {
                    Type = 'View';
                    stat = true;
                }

                jQuery("#" + subgrid_table_id).jqGrid({
                    url: '@Url.Action("GetFHARequestDetail", "ProductionQueue")',
                    // url: '/ProductionTask/GetFHARequestDetail/?TaskId=' + 123, //#84 Modify to post project type value to the function
                    postData: { taskInstanceId: selectedRow, prdType: selectedProductionType, viewsCrdDate: selectedProdViewCreaedDate },
                    datatype: 'json',
                    colNames: [Type, 'Status', 'Modified On', 'Assigned To', 'Assigned By', 'Assign User'],
                    colModel: [
                        //{ name: "id", idex: "id", width: 150 },
                        { name: "FhaType", index: "FhaType", width: 150, align: "Center" },
                        { name: "Status", idex: "Status", width: 200 },
                        { name: "ModifiedOn", idex: "ModifiedOn", width: 200, formatter: 'date', formatoptions: { newformat: 'm/d/Y' } },
                        { name: "AssignedTo", idex: "AssignedTo", width: 200 },
                        { name: "AssignedBy", index: "AssignedBy", width: 150 },
                        {
                            name: 'Assign',
                            index: 'Assign',
                            hidden: stat,
                            width: 250,
                            formatter: function (cellvalue, options, rowObject) {
                                if (rowObject.AssignedTo == null || rowObject.AssignedTo == "") {
                                    return "<button class='btn btn-primary' id='btnAssign' onclick='assign(\"" +
                                        rowObject.TaskXrefid +
                                        "\")';> Assign</button>";
                                } else
                                    return '';
                            }


                        }

                    ],
                    height: 'auto',
                    autowidth: true,
                    emptyrecords: 'No records to display',
                    jsonReader: { repeatitems: false, root: "attribute" }
                });
                jQuery("#" + subgrid_table_id).jqGrid('navGrid', "#" + pager_id, { edit: false, add: false, del: false });
            }

        });

        $grid.jqGrid("navGrid", "#pager",
            { add: false, edit: false, del: false }, {}, {}, {},
            { multipleSearch: false, multipleGroup: false });

    });

    function Filter() {
        var type = $('#AppTypeId').val();
        //$("#ProductionQueue").trigger("reloadGrid");
        $("#ProductionQueue").jqGrid('setGridParam', {
            url: '@Url.Action("GetProductionTasks", "ProductionQueue")',
            datatype: 'json',
            postData: { "applicationType": type }
        }).trigger('reloadGrid');

    };
    function assign(myId) {

        //("#packages").trigger("reloadGrid");
        $('#dialogContent').load('@Url.Action("TaskAsignment","ProductionQueue")', { taskXrefid: myId }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });

        return false;

    }
    $('#btn_Advanced').click(function () {
        $('#div_commonFilter').hide();
        $('#div_advancedSearches').show();
    });
    $('#btn_cancel').click(function () {
        $('#div_commonFilter').show();
        $('#div_advancedSearches').hide();
        Filter();
         });
    $('#btn_search').click(function () {
        //debugger;
        var fromDate = $('#FromDate').val();
        var toDate = $('#ToDate').val();
        var appType = $('#AppTypeAdvanced').val();
        var loanType = $('#LoanType').val();
        var lenderId = $('#LenderID').val();
            if (Date.parse(fromDate) > Date.parse(toDate)) {
                alert("From Date Can Not be greater than To Date");
            } else {
                jQuery("#ProductionQueue").jqGrid().setGridParam({ url: '@Url.Action("GetAdvancedSearch", "ProductionQueue")', datatype: 'json', postData:
                    { applicationType: appType, dateFrom: fromDate, dateTo: toDate, lenderId: lenderId, loantype: loanType }
                }).trigger("reloadGrid");

            }


    });
    $('#AppTypeId').change(function () {
        Filter();
    });
    $('#AppTypeAdvanced').change(function () {
        var appType = $('#AppTypeAdvanced').val();
        $('#div_LoanType').show();
        // display loan type for all production types : PT-417
        //if (appType == 4) {
        //    $('#div_LoanType').show();
        //}
        //else {
        //    $('#div_LoanType').hide();
        //}
    });

    var secondaryTabClick = 0;
    $('#tab2').click(function () {

        // Loads the jqgrid only the first time Tab clicked.
        if (secondaryTabClick == 0) {
            secondaryTabClick = 1;
            var status = $('#StatusID').val();
            var type = $('#ApplicationType').val();
            $("#assignedTask").jqGrid('setGridParam', {
                datatype: 'json',
                postData: { "applicationType": type, status: status }
            }).trigger('reloadGrid');
        }

    });

    function assignFhaInsert(id) {
        $('#dialogContent').load('@Url.Action("FhaInsertAssignment","ProductionQueue")', { taskInstanceId: id }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });

        return false;
    }

    //Function for Prod Task Assignment
    function assignAppProcess(id) {
        $('#dialogContent').html('');
        $('#dialogContent').load('@Url.Action("ApplicationAssignment", "ProductionQueue")', { taskInstanceId: id }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });

        return false;
    }

    function assignForm290(id) {
         $('#dialogContent').load('@Url.Action("Form290Assignement", "ProductionQueue")', { taskInstanceId: id }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });

        return false;
    }
    //Production Note
    function productionNote(id) {
        $('#dialogContent').load('@Url.Action("GetNoteByTask", "ProductionQueue")', { taskInstanceId: id }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });

        return false;
    }
    function sharepointData(id) {
        var closingStatus = false;
        $.getJSON('@Url.Action("ClosingCompleted", "ProductionQueue")',{ taskInstanceId: id }, function (result) {
            closingStatus = result;
            loadSharepoint(result, id);
        });

    }
    function loadSharepoint(ClosingAppStatus,id) {
        if (!ClosingAppStatus) {
        $('#dialogContent').load('@Url.Action("GetSharepointDateView", "ProductionQueue")', { taskInstanceId: id }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });
        }
        else {
            var loading = function () { $("#spinner").attr('class', 'overlay'); };
            setTimeout(loading, 1000)
            window.location = null;
            window.location = "@Url.Action("GetSharepointForPdf", "ProductionQueue")" + "?taskInstanceId=" + id;

        }
    }
</script>