﻿@model HUDHealthcarePortal.Model.AssetManagement.NonCriticalRepairsViewModel

@{
    ViewBag.Title = "Non-Critical Repairs and/Or Owner-elected Request";
}
<script type="text/javascript" src="/Scripts/autoNumeric.js"></script>
<link href="../../Content/formUpload.css" rel="stylesheet">
<style type="text/css">
    .ui-dialog .ui-dialog-title {
        text-align: center;
        width: 95%;
    }

    ul.ui-autocomplete {
        list-style: none;
        list-style-type: none;
        padding: 2px;
        margin: 0px;
    }

    .background {
        background-color: #eee;
    }

    span.error {
        color: #e80c4d;
        font-weight: bold;
    }

    input[type="radio"] {
        width: 20px;
    }

    label.required:after {
        content: " *";
        color: red;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 20px;
    }


    .ui-dialog .ui-dialog-titlebar-close {
        position: relative;
        float: right;
        margin: 1px 0 0 0;
    }
</style>

<section id="r4rform" style="width:1200px;height:1150px;">
    <h4 style="text-align: center;"><b>Non-Critical Repair Request Escrow Form</b></h4>
    <div id="dialogCommon"></div>
    @using (Html.BeginForm("SubmitForm", "NonCriticalRepairsRequest", FormMethod.Post, new { enctype = "multipart/form-data", style = "margin:auto;", id = "nonCriticalFrm" }))
    {
        <hr />
        @Html.HiddenFor(m => m.FHANumber, new { id = "FHANumber" })
        @Html.HiddenFor(m => m.Concurrency, new { id = "Concurrency" })
        @Html.HiddenFor(m => m.TaskGuid, new { id = "TaskGuid" })
        @Html.HiddenFor(m => m.SequenceId, new { id = "SequenceId" })
        @Html.HiddenFor(m => m.AssignedBy, new { id = "AssignedBy" })
        @Html.HiddenFor(m => m.ModifiedBy, new { id = "UpdatedBy" })
        @Html.HiddenFor(m => m.CreatedBy, new { id = "CreatedBy" })
        @Html.HiddenFor(m => m.CreatedOn, new { id = "CreatedOn" })
        @Html.HiddenFor(m => m.ModifiedOn, new { id = "UpdatedOn" })
        @Html.HiddenFor(m => m.SubmittedDate, new { id = "SubmittedDate" })
        @Html.HiddenFor(m => m.SubmitByUserId, new { id = "SubmitByUserId" })
        @Html.HiddenFor(m => m.SubmitToUserId, new { id = "SubmitToUserId" })
        @Html.HiddenFor(m => m.IsSubmitMode, new { id = "IsSubmitMode" })
        @Html.HiddenFor(m => m.IsApprove, new { id = "IsApprove" })
        @Html.HiddenFor(m => m.IsDisplayAcceptPopup, new { id = "txtPopup" })
        // User Story 1901
        @Html.HiddenFor(m => m.IsAgreementAccepted, new { id = "isAgreementAccepted" })
        @Html.HiddenFor(m => m.DisclaimerText, new { id = "DisclaimerText" })
        @*Html.HiddenFor(m => m.IsAgreementAccepted, new { id = "isAgreementAccepted" })*@
        //<input type="hidden" value="@(Model.IsAgreementAccepted.ToString())" id="isAgreementAccepted" name="IsAgreementAccepted" /> // User story 1901
        @Html.HiddenFor(m => m.File92117FullName)
        @Html.HiddenFor(m => m.File92464FullName)
        @Html.HiddenFor(m => m.FileClearTitleFullName)
        @Html.HiddenFor(m => m.FileDefaultRequestExtensionFullName)
        @Html.HiddenFor(m => m.FileScopeCertificationFullName)
        @Html.HiddenFor(m => m.FileContractFullName)
        @Html.HiddenFor(m => m.TroubledCode, new { id = "txtTroubledCode" })
        @Html.HiddenFor(m => m.IsNCRRequestPending, new { id = "txtRequestPending" })
        @Html.HiddenFor(m => m.IsExtensionAttachmentRequired, new { id = "txtExtnAttachmentReq" })
        @Html.HiddenFor(m => m.PropertyId, new { id = "txtPropertyId" })
        @Html.HiddenFor(m => m.LenderId)
        @Html.HiddenFor(m => m.IsTransactionLedger, new { id = "txtTxnLedger" })
        @Html.HiddenFor(m => m.IsReassigned, new { id = "IsReassigned" })

        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right required">
                    @Html.Label("FHA Project Number  : ", new { @class = "required" })
                </span>
                <span class="col-md-4">
                    <input type="text" id="ddlFHANumbers" value="@Model.FHANumber" class="updateableFields" />
                </span>
                @* Commented out as per User Story 1847
                <span class="col-md-4" style="text-decoration: underline">
                    @Html.ActionLink("Transaction Ledger", "GetTransactionLedger", "NonCriticalRepairsRequest", new { propertyId = "_propertyId_", lenderId = Model.LenderId, fhaNumber = "_FHANumber_" }, new { id = "transactionLink" })
                </span>*@
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Project Number:")
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.PropertyId, new { id = "txtPropertyId1", title = "Property Name", @style = "background: #eee", @readonly = "true" ,@Value=""})
                    @Html.ValidationMessageFor(m => m.PropertyId)
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Property Name:")
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.PropertyName, new { id = "txtPropertyName", title = "Property Name", @style = "background: #eee", @readonly = "true" })
                    @Html.ValidationMessageFor(m => m.PropertyName)
                </span>
            </div>
        </div>
        
        <br />
        <div class="container-fluid" id="divRequestExtensionLink" style="display: none;">
            <div class="row">
                <span class="col-md-4 text-right">
                </span>
                <span class="col-md-4" style="text-decoration: underline">
                    @Html.ActionLink("Request for Extension", "GetNCRExtensionForm", "NonCriticalRequestExtension", new { fhaNumber = "_FHANumber_" }, new { id = "RequestExtensionLink" })
                </span>
            </div>
            <div class="row">
                <span class="col-md-4 text-right">
                </span>
                <span class="col-md-4" style="color:red;">
                    <label>Alert: Your loan is greater than 12 months past the Closing Date. Please click on the above link (Request for Extension), to request a Non-Critical Repair extension for this property. You may continue without making the request.</label>
                </span>
            </div>
        </div>
        <hr />

        <div class="container-fluid">
            <div class="row">
                <span class="col-md-12 text-center">
                    @Html.Label("Property Address:")
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Street Address")
                    @Html.Label("*", new { style = "color: red;" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.PropertyAddress.AddressLine1, new { id = "txtStreetAddress", title = "Street Address" })
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("City")
                    @Html.Label("*", new { style = "color: red;" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.PropertyAddress.City, new { id = "txtCity", title = "City" })
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("State")
                    @Html.Label("*", new { style = "color: red;" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.PropertyAddress.StateCode, new { id = "txtState", title = "State" })
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Zip code")
                    @Html.Label("*", new { style = "color: red;" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.PropertyAddress.ZIP, new { id = "txtZipCode", title = "Zip code" })
                </span>
            </div>
        </div>
        <hr />
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Is Lender Delegate?")
                    @Html.Label("*", new { style = "color: red;" })
                </span>
                <span class=" col-md-1   text-left">
                    <label>Yes</label>
                </span>
                <span class=" col-md-1   text-left">
                    @Html.RadioButtonFor(m => m.IsLenderDelegate, true, new { id = "lenderDelegateYes", @class = "rbFakeClass updateableFields", @style = "width:80px;margin-left:-70px;" })
                </span>
            </div>
            <div class="row">
                <span class="col-md-4">
                </span>
                <span class="col-md-1   text-left">
                    <label>No</label>
                </span>
                <span class="col-md-1   text-left">
                    @Html.RadioButtonFor(m => m.IsLenderDelegate, false, new { id = "lenderDelegateNo", @class = "rbFakeClass updateableFields", @style = "width:80px;margin-left:-70px;" })
                </span>
            </div>
        </div>
        <div class="container-fluid" id="ApprovedAmount">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Approved Amount")
                    @Html.Label("*", new { style = "color: red;" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.ApprovedAmount, new { id = "txtApprovedAmount" })
                    @Html.ValidationMessageFor(m => m.ApprovedAmount)
                </span>
            </div>
        </div>
        <hr/>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Closing Date:")
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.ClosingDate, new { id = "txtClosingDate", title = "Closing Date", @style = "background: #eee", @readonly = "true" })
                    @Html.ValidationMessageFor(m => m.ClosingDate)
                </span>
            </div>
        </div>


        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Lender Name:")
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.LenderName, new { id = "txtLenderName", title = "LenderName", @style = "background: #eee", @readonly = "true" })
                    @Html.ValidationMessageFor(m => m.LenderName)
                </span>
            </div>
        </div>

        <div class="container-fluid" id="divRequestExtensionFile">
            <!--commented as request extn business has changed

            <div class="row">
                <div id="statusFill">
                </div>
                <span class="col-md-4 text-right">
                       @* @Html.LabelFor(m => m.FileDefaultRequestExtensionFileName, "Attach Request for Extension form:", new { @class = "required" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.FileDefaultRequestExtensionFileName, new { title = "", @class = "updateableFields" })
                </span>
            </div>
            <div class="row">
                <span class="col-md-4 text-right"></span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.FileDefaultRequestExtension, new { type = "file", @class = "updateableFields" })
                        @Html.LabelFor(m => m.FileDefaultRequestExtension, "Attach File", new { id = "FileDefaultRequestExtension" })*@
                    <button type="button" id="btnClearUploadFileDefaultRequestExtension" name="clearUploadFileDefaultRequestExtension">Remove File</button>
                </span>
            </div>
            -->
        </div>

        <hr />

        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right required">
                    @Html.Label("Non-Critical Repairs and/or Owner elected Account Balance at Loan Closing:", new { @class = "required" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.NonCriticalAccountBalance, new { id = "txtNonCriticalAccountBalance", title = "NonCriticalAccountBalance", @style = "background: #eee", @readonly = "true" })
                    @Html.ValidationMessageFor(m => m.NonCriticalAccountBalance)
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right required">
                    @Html.Label("Non-Critical Repairs and/or Owner elected Account Current Balance:", new { @class = "required" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.NCRECurrentBalance, new { id = "txtNonCriticalCurrentBalance", title = "NonCriticalCurrentBalance", @style = "background: #eee", @readonly = "true" })
                    @Html.ValidationMessageFor(m => m.NCRECurrentBalance)
                </span>
            </div>
        </div>
        <div class="container-fluid">

            <div class="row">
                <span class="col-md-4 text-right required">
                    <label class="required">Is the NCRE amount valid? :</label>
                </span>
                <span class=" col-md-1   text-left">
                    <label>Yes</label>
                </span>
                <span class=" col-md-1   text-left">
                    @Html.RadioButtonFor(m => m.IsNCREAmountValid, true, new { id = "rbIsNCREAmountValidYes", @class = "rbFakeClass updateableFields", @style = "width:80px;margin-left:30px;" })
                </span>
                <span class="col-md-3 text-left">

                </span>
            </div>
            <div class="row">
                <span class=" col-md-4   text-left">
                </span>
                <span class=" col-md-1   text-left">
                    @Html.Label("No")
                </span>
                <span class="col-md-1 text-left">
                    @Html.RadioButtonFor(m => m.IsNCREAmountValid, false, new { id = "rbIsNCREAmountValidNo", @class = "rbFakeClass updateableFields", @style = "width:80px;margin-left:30px;" })
                </span>
                <span class="col-md-3 text-left">

                </span>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right required">
                    @Html.Label("Reimbursement Amount : ", new { @class = "required" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.PaymentAmountRequested, new { id = "txtPaymentAmountRequested", title = "PaymentAmountRequested", @class = "updateableFields" })
                    @Html.ValidationMessageFor(m => m.PaymentAmountRequested)
                </span>
            </div>
        </div>

        
        <hr />
        <div class="container-fluid">

            <div class="row">
                <span class="col-md-4 text-right required">
                    <label class="required">Is this a change in scope of work?:</label>
                </span>
                <span class=" col-md-1   text-left">
                    <label>Yes</label>
                </span>
                <span class=" col-md-1   text-left">
                    @Html.RadioButtonFor(m => m.IsScopeOfWorkChanged, true, new { id = "rbIsScopeOfWorkChangedYes", @class = "rbFakeClass updateableFields", @style = "width:80px;margin-left:30px;" })
                </span>
                <span class="col-md-3 text-left">

                </span>
            </div>
            <div class="row">
                <span class=" col-md-4   text-left">
                </span>
                <span class=" col-md-1   text-left">
                    @Html.Label("No")
                </span>
                <span class="col-md-1 text-left">
                    @Html.RadioButtonFor(m => m.IsScopeOfWorkChanged, false, new { id = "rbIsScopeOfWorkChangedNo", @class = "rbFakeClass updateableFields", @style = "width:80px;margin-left:30px;" })
                </span>
                <span class="col-md-3 text-left">

                </span>
            </div>
        </div>
        <div class="container-fluid" id="divAttachScopeFile">
            <div class="row">
                <div id="statusFill">
                </div>
                <span class="col-md-4 text-right">
                    @Html.LabelFor(m => m.FileScopeCertificationFileName, "Attach Scope Certification:", new { @class = "required" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.FileScopeCertificationFileName, new { title = "", @class = "updateableFields" })
                </span>
            </div>
            <div class="row">
                <span class="col-md-4 text-right"></span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.FileScopeCertification, new { type = "file" })
                    @Html.LabelFor(m => m.FileScopeCertification, "Attach File", new { id = "FileScopeCertification" })
                    <button type="button" id="btnClearUploadFileScopeCertification" name="clearUploadFileScopeCertification">Remove File</button>
                </span>
            </div>
        </div>
        <br />
        <div class="container-fluid">

            <div class="row">
                <span class="col-md-4 text-right required">
                    <label class="required">Is this an advance?</label>
                </span>
                <span class=" col-md-1   text-left">
                    <label>Yes</label>
                </span>
                <span class=" col-md-1   text-left">
                    @Html.RadioButtonFor(m => m.IsThisAnAdvance, true, new { id = "rbIsThisAnAdvanceYes", @class = "rbFakeClass updateableFields", @style = "width:80px;margin-left:30px;" })
                </span>
                <span class="col-md-3 text-left">

                </span>
            </div>
            <div class="row">
                <span class=" col-md-4   text-left">
                </span>
                <span class=" col-md-1   text-left">
                    @Html.Label("No")
                </span>
                <span class="col-md-1 text-left">
                    @Html.RadioButtonFor(m => m.IsThisAnAdvance, false, new { id = "rbIsThisAnAdvanceNo", @class = "rbFakeClass updateableFields", @style = "width:80px;margin-left:30px;" })
                </span>
                <span class="col-md-3 text-left">

                </span>
            </div>
        </div>
        <div class="container-fluid" id="divAttachContractFile">
            <div class="row">
                <div id="statusFill">
                </div>
                <span class="col-md-4 text-right">
                    @Html.LabelFor(m => m.FileContractFileName, "Attach Contract:", new { @class = "required" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.FileContractFileName, new { title = "", @class = "updateableFields" })
                </span>
            </div>
            <div class="row">
                <span class="col-md-4 text-right"></span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.FileContract, new { type = "file" })
                    @Html.LabelFor(m => m.FileContract, "Attach File", new { id = "FileContract" })
                    <button type="button" id="btnClearUploadFileContract" name="clearUploadFileContract">Remove File</button>
                </span>
            </div>
        </div>
        <br />
        <hr />
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right required">
                    @Html.Label("Number of Draws : ")
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.NumberDraw, new { id = "txtNumberDraw", title = "NumberDraw", @style = "background: #eee", @readonly = "true" })
                    @Html.ValidationMessageFor(m => m.NumberDraw)
                </span>
            </div>
        </div>

        <div class="container-fluid">

            <div class="row">
                <span class="col-md-4 text-right required">
                    <label class="required">Is this Final Draw?</label>
                </span>
                <span class=" col-md-1   text-left">
                    <label>Yes</label>
                </span>
                <span class=" col-md-1   text-left">
                    @Html.RadioButtonFor(m => m.IsFinalDraw, true, new { id = "rbIsFinalDrawYes", @class = "rbFakeClass updateableFields", @style = "width:80px;margin-left:30px;" })
                </span>
                <span class="col-md-3 text-left">

                </span>
            </div>
            <div class="row">
                <span class=" col-md-4   text-left">
                </span>
                <span class=" col-md-1   text-left">
                    @Html.Label("No")
                </span>
                <span class="col-md-1 text-left">
                    @Html.RadioButtonFor(m => m.IsFinalDraw, false, new { id = "rbIsFinalDrawNo", @class = "rbFakeClass updateableFields", @style = "width:80px;margin-left:30px;" })
                </span>
                <span class="col-md-3 text-left">

                </span>
            </div>
        </div>
        <div class="container-fluid" id="divAttachFinalInspectionFile">
            <div class="row">
                <div id="statusFill">
                </div>
                <span class="col-md-4 text-right">
                    @Html.LabelFor(m => m.FinalInspectionReport, "Attach Final Inspection Report:", new { @class = "required" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.FinalInspectionReport, new { title = "", @class = "updateableFields" })
                </span>
            </div>
            <div class="row">
                <span class="col-md-4 text-right"></span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.FileClearTitle, new { type = "file" })
                    @Html.LabelFor(m => m.FileClearTitle, "Attach File", new { id = "FileClearTitle" })
                    @*User Story 1901 : added calss as updateable field *@
                    <button type="button" id="btnClearUploadFileClearTitle" name="clearUploadFileClearTitle" class="updateableFields">Remove File</button> 
                </span>
            </div>
        </div>
        <hr />
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-12 text-left">
                    <label>Please upload the required files :</label>
                </span>
            </div>

            <div class="row">
                <div id="statusFill">
                </div>
                <span class="col-md-4 text-right">
                    @Html.LabelFor(m => m.FileName92464, "Attach 92464:", new { @class = "required" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.FileName92464, new { title = "", @class = "updateableFields" })
                </span>
            </div>
          
            @* Existing Code*@

            <div class="row">
                <span class="col-md-4 text-right"></span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.File92464, new { type = "file" })
                    @Html.LabelFor(m => m.File92464, "Attach File", new { id = "File92464" })
                    </span>
                    
              
                   @*User Story 1901 : added calss as updateable field *@
                <span class="col-md-4">
                    <button type="button" id="btnClearUploadFile92464" name="clearUploadFile92464" style="margin-left:-246px" class="updateableFields">Remove File</button>
                </span>
            </div>
            <br />
            <div class="row">
                <div id="statusFill">
                </div>
                <span class="col-md-4 text-right">
                    @Html.LabelFor(m => m.FileName92117, "Attach 92117:", new { @class = "required" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.FileName92117, new { title = "" })
                </span>
            </div>
            <div class="row">
                <span class="col-md-4 text-right"></span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.File92117, new { type = "file" })
                    @Html.LabelFor(m => m.File92117, "Attach File", new { id = "File92117" })
                    @*User Story 1901 : added calss as updateable field *@
                    </span>
                <span class="col-md-4">
                    <button type="button" id="btnClearUploadFile92117" style="margin-left:-246px" name="clearUploadFile92117" class="updateableFields">Remove File</button>
                </span>
            </div>
            <br/>
            @*<div class="container-fluid" id="divAttachPCNAFile">
                @*<div class="row">
                    <div id="statusFill">
                    </div>
                    <span class="col-md-4 text-right">
                        @Html.LabelFor(m => m.FileNamePCNA, "Attach PCNA:", new { @class = "required" })
                    </span>
                    <span class="col-md-4">
                        @Html.TextBoxFor(m => m.FileNamePCNA, new { title = "" })
                    </span>
                </div>*@
                @*<div class="row">
                    <span class="col-md-4 text-right"></span>
                    <span class="col-md-4">
                        @Html.TextBoxFor(m => m.FilePCNA, new { type = "file" })
                        @Html.LabelFor(m => m.FilePCNA, "Attach File", new { id = "FilePCNA" })
                       /*User Story 1901 : added calss as updateable field */
                        <button type="button" id="btnClearUploadFilePCNA" name="clearUploadFilePCNA" class="updateableFields">Remove File</button>
                    </span>
                </div>*@
            @*</div>*@
            </div>

        <hr />
        <div class="container-fluid">
            <div class="row">
                <div id="statusFill">
                </div>
                <span class="col-md-4 text-right">
                    <label>Servicer Comments :</label>
                </span>
                <span class="col-md-4">
                    @Html.TextAreaFor(m => m.ServicerRemarks, new { @style = "height:70px;width:300px;", maxlength = "500" })
                </span>
            </div>
        </div>
        <hr />
        <br />
        //User story 1901 Commentcurrent disclaimer message and loaded thr message from model variable
        @*<div class="container-fluid">
         
            <div class="row">
                <span>
                    <label class="required">According to Section 232 Handbook No. 42321, Section 1, Chapter 2-2.7, I hereby <mark>certify</mark> and <mark>agree</mark> that all files, records and offices will be made available to HUD or HUD’S authorized contractors or agents for such monitoring of 232 loans as HUD determines.  The Lender shall retain the origination and underwriting files for ten years from final closing even if the loan has been sold.  The servicing file shall be maintained for the life of the loan plus three years.</label>
                </span>
            </div>
            <div class="row">
                <span class="col-md-5 text-right">
                    @Html.Label(" Yes   ")
                </span>
                <span class="col-md-1">
                    @Html.CheckBoxFor(m => m.CanProvideAllPhotosInvoices, new { id = "rdCanProvideAllPhotosInvoices", @class = "rbFakeClass", @style = "width:80px;margin-left:30px;" })
                </span>
                <span class="col-md-4 text-left">
                    @Html.Label("  (You must agree to this prior to HUD processing your request)")
                </span>
            </div>

        </div>*@
         <div class="container-fluid">
        <div class="row">
            <table>
                <tr>
                   
                    @Html.ValidationMessageFor(m => m.IsAgreementAccepted)
                 
                </tr>
                <tr>
                    <td>
                        @Html.CheckBoxFor(m => m.IsAgreementAccepted, new { id = "rdIsAgreementAccepted", @class = "rbFakeClass", @style = "width:80px;margin-left:7px;" })
                    </td>
                    <td>
                       
                        <label class="required">@Html.DisplayFor(m => Model.DisclaimerText)</label>
                     
                    </td>
                </tr>
               
            </table>
            
        </div>

    </div>
        <hr />

        <div class="container-fluid">
            <div id="dvSubmit" class="row">
                <span class="col-md-12 text-center">
                    <input type="submit" value="Submit" id="btnSubmit" name="submitButton" />
                </span>
            </div>
        </div>


        <hr />
    }

</section>

<script>
    var formAttachmentFileTypes = '@TempData["FormAttachmentFileTypes"]';
</script>


<script>
    var updateBasedOnFHA = false;
    var NonCriticalRepairs = (function() {
        //////////////////////////////////////////////////////////////////////////////////////
        // Private variables and methods
        //////////////////////////////////////////////////////////////////////////////////////
        var IsValidationSuccess = false;
        return {
            InitView: function() {

                $('#txtNonCriticalAccountBalance').autoNumeric('init', { vMin: 0, mDec: 2 });
                $('#txtPaymentAmountRequested').autoNumeric('init', { vMin: 0, mDec: 2 });
                $('#txtNonCriticalCurrentBalance').autoNumeric('init', { vMin: -10000000, mDec: 2 });

               
                //if ($('input:radio[name="IsScopeOfWorkChanged"]:Checked').val() == 'False')
                //    document.getElementById("divAttachPCNAFile").style.display = 'none';

                //if ($('input:radio[name="IsFinalDraw"]:Checked').val() == 'False')
                //    document.getElementById("divAttachPCNAFile").style.display = 'none';

                //if ($('input:radio[name="IsLenderDelegate"]:Checked').val() == 'False')
                //    document.getElementById("divAttachPCNAFile").style.display = 'none';

                if($('input:radio[name="IsScopeOfWorkChanged"]:Checked').val() == 'False')
                    document.getElementById("divAttachScopeFile").style.display = 'none';

                if($('input:radio[name="IsThisAnAdvance"]:Checked').val() == 'False')
                    document.getElementById("divAttachContractFile").style.display = 'none';

                if($('input:radio[name="IsFinalDraw"]:Checked').val() == 'False')
                    document.getElementById("divAttachFinalInspectionFile").style.display = 'none';

                if ($('#ddlFHANumbers').val().length > 0) {
                    updateBasedOnFHA = true;
                } else {
                    document.getElementById("divRequestExtensionFile").style.display = 'none';
                    document.getElementById("divRequestExtensionLink").style.display = 'none';
                    // Commented out as per User Story 1847
                    //document.getElementById("transactionLink").style.display = 'none';
                }

                // Commented out as per User Story 1847
                //$('#transactionLink').click(function () {
                //    var fha = $('#FHANumber').val();
                //    var propertyId = $('#txtPropertyId').val();
                //    //Replace the predifined QueryString param "_FHANumber_" with the "fha"
                //    this.href = this.href.replace("_FHANumber_", fha);
                //    this.href = this.href.replace("_propertyId_", propertyId);

                //    $('<div>Loading ...</div>').load(this.href).dialog({

                //        title:  'Transaction Ledger'
                //        , width: 500
                //        , modal: true
                //        , closeOnEscape: false
                //        , resizable: false
                //        , draggable: false
                //        , minHeight: 200
                //        , height: 300
                //        , position: ['center', 100]

                //    });
                //    return false;
                //});


                $("#RequestExtensionLink").click(function() {
                    //Get the id of the selected item in dropdown
                    var fha = $('#FHANumber').val();
                    //Replace the predifined QueryString param "_FHANumber_" with the "fha"
                    this.href = this.href.replace("_FHANumber_", fha);
                });
                //User Story 1901
                function resetIsAgreementAccepted()
                {
                    $('#rdIsAgreementAccepted').prop('disabled', false);
                    $('#rdIsAgreementAccepted').prop('checked', false);
                    $('#IsSubmitMode').val('');
                    $('#isAgreementAccepted').val(false);
                    //if ($('#rdIsAgreementAccepted').prop('disabled') == true && $('#isAgreementAccepted').val() == 'True') {
                    //    IsValidationSuccess = false;
                    //    $('#rdIsAgreementAccepted').prop('disabled', false);
                    //    $('#rdIsAgreementAccepted').prop('checked', false);
                    //    $('#IsSubmitMode').val('');
                    //    $('#isAgreementAccepted').val(false);
                    //}
                };
                //92464
                $("#File92464").change(function () {
                    //debugger
                    if (NonCriticalRepairs.checkFileType(NonCriticalRepairs.FormAttachmentFileTypes, $("#File92464").val())) {

                        

                        $('#FileName92464').val($('#File92464').val().split('\\').pop());
                        $('#File92464FullName').val($('#File92464').val());   

                        if ($('#FileName92464').val().length > 260) {
                            alert("Your File Name exceeds 260 characters. Please correct the filename and repload the file.");
                            $('#FileName92464').val("");
                            $('#File92464FullName').val("");   
                        } 
                       
                    }
                });

                $("#btnClearUploadFile92464").click(function () {
                    $('#FileName92464').val(null);
                    $('#File92464').val(null);
                    $('#File92464FullName').val(null);
                    //User Story 1901
                    resetIsAgreementAccepted();
                });

                //92117

                $("#File92117").change(function () {
                    if (NonCriticalRepairs.checkFileType(NonCriticalRepairs.FormAttachmentFileTypes, $("#File92117").val())) {

                        $('#FileName92117').val($('#File92117').val().split('\\').pop());
                        $('#File92117FullName').val($('#File92117').val());

                        if ($('#FileName92117').val().length > 260) {
                            alert("Your File Name exceeds 260 characters. Please correct the filename and repload the file.");
                            $('#FileName92117').val("");
                            $('#File92117FullName').val("");
                        } 
                    }
                });

                $("#btnClearUploadFile92117").click(function () {
                    $('#FileName92117').val(null);
                    $('#File92117').val(null);
                    $('#File92117FullName').val(null);
                    //User Story 1901
                    resetIsAgreementAccepted();
                });

                $("#FilePCNA").change(function () {/*debugger*/
                    if (NonCriticalRepairs.checkFileType(NonCriticalRepairs.FormAttachmentFileTypes, $("#FilePCNA").val())) {
                        $('#FileNamePCNA').val($('#FilePCNA').val().split('\\').pop());
                        $('#FilePCNAFullName').val($('#FilePCNA').val());

                        if ($('#FileNamePCNA').val().length > 260) {
                            alert("Your File Name exceeds 260 characters. Please correct the filename and repload the file.");
                            $('#FileNamePCNA').val("");
                            $('#FilePCNAFullName').val("");
                        } 
                    }
                }); //clearUploadFilePCNA

                $("#btnClearUploadFilePCNA").click(function () {
                    //debugger
                    $('#FileNamePCNA').val(null);
                    $('#FilePCNA').val(null);
                    $('#FilePCNAFullName').val(null);
                    //User Story 1901
                    resetIsAgreementAccepted();
                });

                //Default RequestExtension File
                $("#FileDefaultRequestExtension").change(function () {
                    if (NonCriticalRepairs.checkFileType(NonCriticalRepairs.FormAttachmentFileTypes, $("#FileDefaultRequestExtension").val())) {

                        $('#FileDefaultRequestExtensionFileName').val($('#FileDefaultRequestExtension').val().split('\\').pop());
                        $('#FileDefaultRequestExtensionFullName').val($('#FileDefaultRequestExtension').val());

                        if ($('#FileDefaultRequestExtensionFileName').val().length > 260) {
                            alert("Your File Name exceeds 260 characters. Please correct the filename and repload the file.");
                            $('#FileDefaultRequestExtensionFileName').val("");
                            $('#FileDefaultRequestExtensionFullName').val("");
                        } 
                    }
                });

                $("#btnClearUploadFileDefaultRequestExtension").click(function () {
                    $('#FileDefaultRequestExtensionFileName').val(null);
                    $('#FileDefaultRequestExtension').val(null);
                    $('#FileDefaultRequestExtensionFullName').val(null);
                    //User Story 1901
                    resetIsAgreementAccepted();

                });

                //Scope Certification
                $("#FileScopeCertification").change(function () {
                    if (NonCriticalRepairs.checkFileType(NonCriticalRepairs.FormAttachmentFileTypes, $("#FileScopeCertification").val())) {

                        $('#FileScopeCertificationFileName').val($('#FileScopeCertification').val().split('\\').pop());
                        $('#FileScopeCertificationFullName').val($('#FileScopeCertification').val());

                        if ($('#FileScopeCertificationFileName').val().length > 260) {
                            alert("Your File Name exceeds 260 characters. Please correct the filename and repload the file.");
                            $('#FileScopeCertificationFileName').val("");
                            $('#FileScopeCertificationFullName').val("");
                        } 
                    }
                });

                $("#btnClearUploadFileScopeCertification").click(function () {
                    $('#FileScopeCertificationFileName').val(null);
                    $('#FileScopeCertification').val(null);
                    $('#FileScopeCertificationFullName').val(null);
                    //User Story 1901
                    resetIsAgreementAccepted();
                });

                //Clear Title
                $("#FileClearTitle").change(function () {
                    if (NonCriticalRepairs.checkFileType(NonCriticalRepairs.FormAttachmentFileTypes, $("#FileClearTitle").val())) {

                        $('#FinalInspectionReport').val($('#FileClearTitle').val().split('\\').pop());
                        //$('#FinalInspectionReport').val($('#FileClearTitle').val());

                        if ($('#FinalInspectionReport').val().length > 260) {
                            alert("Your File Name exceeds 260 characters. Please correct the filename and repload the file.");
                            $('#FinalInspectionReport').val("");
                        } 
                    }
                });

                $("#btnClearUploadFileClearTitle").click(function () {
                    $('#FinalInspectionReport').val(null);
                    $('#FileClearTitle').val(null);
                    $('#FinalInspectionReport').val(null);
                    //User Story 1901
                    resetIsAgreementAccepted();
                });

                //Contract File
                $("#FileContract").change(function () {
                    if (NonCriticalRepairs.checkFileType(NonCriticalRepairs.FormAttachmentFileTypes, $("#FileContract").val())) {

                        $('#FileContractFileName').val($('#FileContract').val().split('\\').pop());
                        $('#FileContractFullName').val($('#FileContract').val());

                        if ($('#FileContractFileName').val().length > 260) {
                            alert("Your File Name exceeds 260 characters. Please correct the filename and repload the file.");
                            $('#FileContractFileName').val("");
                            $('#FileContractFullName').val("");
                        } 
                    }
                });

                $("#btnClearUploadFileContract").click(function () {
                    $('#FileContractFileName').val(null);
                    $('#FileContract').val(null);
                    $('#FileContractFullName').val(null);
                    //User Story 1901
                    resetIsAgreementAccepted();
                });


                //User Story 1901 Changes Begins
                $('#rdIsAgreementAccepted').change(function() {

                    if (this.checked) {
                        //if ($('#btnSubmit').click()) {
                        //    if (IsValidationSuccess) {
                        //        $(this).prop('disabled', true);
                        //        $('#IsSubmitMode').val(true);
                        //    } else {
                        //        $(this).prop('checked', false);
                        //        $(this).prop('disabled', false);
                        //    }
                        //    return false;
                        //}


                        if (!NonCriticalRepairs.validateForm()) {
                            $('#isAgreementAccepted').val(false);
                            $(this).prop('checked', false);
                            $(this).prop('disabled', false);
                            return false;
                        }
                        else
                        {
                            $('#isAgreementAccepted').val('True');
                            $(this).prop('checked', true);
                            $(this).prop('disabled', true);
                        }
                    }
                    else
                    {
                        $('#isAgreementAccepted').val(false);
                        $(this).prop('checked', false);
                        $(this).prop('disabled', false);
                        return false;
                    }
                });

                $(".updateableFields").change(function() {
                    //debugger;
                    //User Story 1901
                    resetIsAgreementAccepted();
                });
                //User Story 1901 Changes ends
                $('input:radio[name="IsScopeOfWorkChanged"]').change(function () {

                    if ($(this).val() == 'True') {
                        document.getElementById("divAttachScopeFile").style.display = 'block';
                    }
                    else {
                        document.getElementById("divAttachScopeFile").style.display = 'none';
                    }
                });


               // if (!isLenderDelegate && !isNCREAmountValid && ($('#File92464').val() == '' && $('#FileName92464').val() == ''))
                //IsLenderDelegate
                var isSC = $('input:radio[name=IsScopeOfWorkChanged]')[0].checked;
                var isFD = $('input:radio[name=IsFinalDraw]')[0].checked;
                var isLD = $('input:radio[name=IsLenderDelegate]')[0].checked;
                //$('input:radio[name="IsScopeOfWorkChanged"]').change(function () {
                //     if ($(this).val() == 'True' || ($(this).val() == 'false' || isFD || isLD)) {
                //        document.getElementById("divAttachPCNAFile").style.display = 'block';
                //    }
                //    else {
                //        document.getElementById("divAttachPCNAFile").style.display = 'none';
                //    }
                //});

                //$('input:radio[name="IsFinalDraw"]').change(function () {
                //   // debugger
                    
                //    if ($(this).val() == 'True' || ($(this).val() == 'false' || isSC || isLD)) {
                //        document.getElementById("divAttachPCNAFile").style.display = 'block';
                //    }
                //    else {
                //        document.getElementById("divAttachPCNAFile").style.display = 'none';
                //    }
                //});

                //$('input:radio[name="IsLenderDelegate"]').change(function () {
                //    // debugger
                //    var isSC = $('input:radio[name=IsScopeOfWorkChanged]')[0].checked;
                //    if ($(this).val() == 'True' || ($(this).val() == 'false' || isSC || isFD)) {
                //        document.getElementById("divAttachPCNAFile").style.display = 'block';
                //    }
                //    else {
                //        document.getElementById("divAttachPCNAFile").style.display = 'none';
                //    }
                //});

                $('input:radio[name="IsThisAnAdvance"]').change(function () {

                    if ($(this).val() == 'True') {
                        document.getElementById("divAttachContractFile").style.display = 'block';
                    }
                    else {
                        document.getElementById("divAttachContractFile").style.display = 'none';
                    }
                });

                $('input:radio[name="IsFinalDraw"]').change(function () {

                    if ($(this).val() == 'True') {
                        document.getElementById("divAttachFinalInspectionFile").style.display = 'block';
                    }
                    else {
                        document.getElementById("divAttachFinalInspectionFile").style.display = 'none';
                    }
                });



                $('#btnSubmit').click(function () {
                    if ($(this).val() == 'Submit') {
                        $('#IsSubmitMode').val(true);
                        updateBasedOnFHA = false;
                    }
                    if (!$('#TaskGuid').val()) {
                        if (!NonCriticalRepairs.validateForm()) {
                            return false;
                        }
                    }
                    updateBasedOnFHA = false;

                    return true;
                });
                $('input:radio[name="IsLenderDelegate"]').change(function () {

                    if ($(this).val() == 'True') {
                        document.getElementById("ApprovedAmount").style.display = 'block';
                    }
                    else {
                        document.getElementById("ApprovedAmount").style.display = 'none';
                        $('#txtApprovedAmount').val('');
                    }
                });
            },
            FormAttachmentFileTypes: window.formAttachmentFileTypes,
            checkFileType: function (fileTypes, fileName) {
                // change function called twice on change of file.
                if (fileName != null && fileName != "") {
                    if (fileTypes != "") {
                        var fileTypeCheck = fileTypes + ',';
                        var fileNameSegments = fileName.match(/\.([^\.]+)$/);
                        var ext = "";
                        // if file has an extension.
                        if (fileNameSegments != null) {
                            ext = "." + fileNameSegments[1] + ',';
                            ext = ext.toLowerCase();
                        }
                        if (fileNameSegments == null || fileTypeCheck.indexOf(ext, 0) == -1) {
                            alert("The file is not in the expected format. Please make sure the file you are attaching is in accepted format (" + fileTypes + ").");
                            return false;
                        }
                    }
                    return true;
                }
            },

            validateForm: function () {
                //  debugger;
                //to retain the files, on validations



                if ($("#ddlFHANumbers").val() == "") {
                    alert('Please select the FHA Number');
                    $("#ddlFHANumbers").focus();
                    IsValidationSuccess = false;
                    return false;
                }
                else if ($.inArray($("#ddlFHANumbers").val(), possibleValues) == -1) {
                    alert('Please enter a valid FHA number');
                    $("#ddlFHANumbers").focus();
                    $("#txtPropertyName").val("");
                    $("#txtClosingDate").val("");
                    IsValidationSuccess = false;
                    return false;
                }

                else if ($('#txtPaymentAmountRequested').val() == '' || $('#txtPaymentAmountRequested').val() == '0.00') {
                    $("#txtPaymentAmountRequested").focus();
                    alert('Please enter the  Reimbursement Amount');
                    IsValidationSuccess = false;
                    return false;
                }else if ($('#txtNonCriticalAccountBalance').val() != 0){

                    var paymentRequested = $('#txtPaymentAmountRequested').val().replace(/,/g,'');
                    var nonCriticalCurrentBalance = $('#txtNonCriticalCurrentBalance').val().replace(/,/g,'');

                    if(parseFloat(paymentRequested) > parseFloat(nonCriticalCurrentBalance))
                    {
                        $("#txtPaymentAmountRequested").focus();
                        alert('Reimbursement Amount cannot be greater than Current Balance');
                        IsValidationSuccess = false;
                        return false;
                    }
                }

                var isLenderDelegate = $('input:radio[name=IsLenderDelegate]')[0].checked;

                var isNCREAmountValid = $('input:radio[name=IsNCREAmountValid]')[0].checked;

                var isFD = $('input:radio[name=IsFinalDraw]')[0].checked;

                var isSC = $('input:radio[name=IsScopeOfWorkChanged]')[0].checked;

                var isLD = $('input:radio[name=IsLenderDelegate]')[0].checked;

                // pcna validation
                if ((isFD || isSC || isLD) &&  ($('#FilePCNA').val() == '' &&  $('#FileNamePCNA').val() == '')) { /*debugger*/
                    $("#FilePCNA").focus();
                    alert('Please attach PCNA file');
                    IsValidationSuccess = false;
                    return false;
                }

                if (!isLenderDelegate && !isNCREAmountValid && ($('#File92464').val() == '' && $('#FileName92464').val() == ''))
                {
                    $("#File92464").focus();
                    alert('Please attach 92464 file');
                    IsValidationSuccess = false;
                    return false;
                }

                if (!isLenderDelegate && !isNCREAmountValid && ($('#File92117').val() == '' && $('#FileName92117').val() == ''))
                {
                    $("#File92117").focus();
                    alert('Please attach 92117 file');
                    IsValidationSuccess = false;
                    return false;
                }

                if (!isLenderDelegate && isNCREAmountValid && ($('#File92464').val() == '' && $('#FileName92464').val() == ''))
                {
                    $("#File92464").focus();
                    alert('Please attach 92464 file');
                    IsValidationSuccess = false;
                    return false;
                }

                if (!isLenderDelegate && isNCREAmountValid && ($('#File92117').val() == '' && $('#FileName92117').val() == ''))
                {
                    $("#File92117").focus();
                    alert('Please attach 92117 file');
                    IsValidationSuccess = false;
                    return false;
                }


                var IsScopeChanged = $('input:radio[name="IsScopeOfWorkChanged"]');


                /* Commented out as per Bug 1812
                if (!isLenderDelegate && (IsScopeChanged[0].checked == true && ($('#FileScopeCertification').val() == '' && $('#FileScopeCertificationFileName').val() == ''))) {
                    $("#FileScopeCertification").focus();
                    alert('Please attach Scope Certification File');
                    IsValidationSuccess = false;
                    return false;
                }*/

                if ((IsScopeChanged[0].checked == true && ($('#FileScopeCertification').val() == '' && $('#FileScopeCertificationFileName').val() == ''))) {
                    $("#FileScopeCertification").focus();
                    alert('Please attach Scope Certification File');
                    IsValidationSuccess = false;
                    return false;
                }


                var isThisAdvance = $('input:radio[name="IsThisAnAdvance"]');

                /* Commented out as per Bug 1812
                if (!isLenderDelegate && (isThisAdvance[0].checked == true && ($('#FileContract').val() == '' && $('#FileContractFileName').val() == ''))) {
                    $("#FileContract").focus();
                    alert('Please attach Contract File');
                    IsValidationSuccess = false;
                    return false;
                }*/

                if ((isThisAdvance[0].checked == true && ($('#FileContract').val() == '' && $('#FileContractFileName').val() == ''))) {
                    $("#FileContract").focus();
                    alert('Please attach Contract File');
                    IsValidationSuccess = false;
                    return false;
                }


                var isFinalDraw = $('input:radio[name="IsFinalDraw"]');

                /* Commented out as per Bug 1812
                if (!isLenderDelegate && (isFinalDraw[0].checked == true && ($('#FileClearTitle').val() == '' && $('#FileClearTitleFileName').val() == ''))) {
                    $("#FileClearTitle").focus();
                    alert('Please attach Clear title File');
                    IsValidationSuccess = false;
                    return false;
                }*/

                if ((isFinalDraw[0].checked == true && ($('#FileClearTitle').val() == '' && $('#FinalInspectionReport').val() == ''))) {
                    $("#FileClearTitle").focus();
                    alert('Please attach Clear title File');
                    IsValidationSuccess = false;
                    return false;
                }


                /* Commented out as per Bug 1812
                if (!isLenderDelegate && ($('#File92464').val() == '' && $('#FileName92464').val() == ''))
                {
                    $("#File92464").focus();
                    alert('Please attach 92464 file');
                    IsValidationSuccess = false;
                    return false;
                }

                if (!isLenderDelegate && ($('#File92117').val() == '' && $('#FileName92117').val() == ''))
                {
                    $("#File92117").focus();
                    alert('Please attach 92117 file');
                    IsValidationSuccess = false;
                    return false;
                }*/

                if ((isFinalDraw[0].checked == true || isThisAdvance[0].checked == true || IsScopeChanged[0].checked == true)
                    && ($('#File92464').val() == '' && $('#FileName92464').val() == ''))
                {
                    $("#File92464").focus();
                    alert('Please attach 92464 file');
                    IsValidationSuccess = false;
                    return false;
                }

                if ((isFinalDraw[0].checked == true || isThisAdvance[0].checked == true || IsScopeChanged[0].checked == true)
                    && ($('#File92117').val() == '' && $('#FileName92117').val() == ''))
                {
                    $("#File92117").focus();
                    alert('Please attach 92117 file');
                    IsValidationSuccess = false;
                    return false;
                }

                //commented out for User Story 1901
                //if (!$('#rdCanProvideAllPhotosInvoices')[0].checked) {
                //    $("#rdCanProvideAllPhotosInvoices").focus();
                //    alert('You must agree to this Question prior to HUD processing your request' );
                //    IsValidationSuccess = false;
                //    return false;
                //}

                if(isLenderDelegate == true && ($('#txtApprovedAmount').val() == '')){
                    alert("Approved Amount is required");
                    $('#ApprovedAmount').focus();
                    IsValidationSuccess = false;
                    return false;
                }

                var form = $(this);
                $('input').each(function (i) {
                    var self = $(this);
                    try {
                        var v = self.autoNumeric('get');
                        self.autoNumeric('destroy');
                        self.val(v);
                    } catch (err) {
                        console.log("Not an autonumeric field: " + self.attr("name"));
                    }
                });
                return true;
            },
            removeComma:function()
            {
                var form = $(this);
                $('input').each(function (i) {
                    var self = $(this);
                    try {
                        var v = self.autoNumeric('get');
                        self.autoNumeric('destroy');
                        self.val(v);
                    } catch (err) {
                        console.log("Not an autonumeric field: " + self.attr("name"));
                    }
                });
            }
        }

    }());

    var autocompleteTextBox = $('#ddlFHANumbers');
    var possibleValues = @Html.Raw(Json.Encode(Model.AvailableFHANumbersList));
    var fhaNumberLoaded = "";
</script>
<script src="/Scripts/Shared/autocomplete.js"></script>
<script>
    $(document).ready(function () {

        NonCriticalRepairs.InitView();
        $('#txtApprovedAmount').autoNumeric('init', { vMin: 0, mDec: 2 });
        //on first load the lender delegate radio should be set to false by default
        var $isLenderDelegate = $('input:radio[name=IsLenderDelegate]');
        if($isLenderDelegate[0].checked === true){
            document.getElementById("ApprovedAmount").style.display = 'block';
        }
        else{
            $isLenderDelegate[1].checked = true;
            document.getElementById("ApprovedAmount").style.display = 'none';
            $('#txtApprovedAmount').val('');
        }

        if ('@Model.IsDisplayAcceptPopup' == 'True') {
            $("#txtPopup").val(true);
            if ($('#isAgreementAccepted').val() != 'True')
                $('#dialogCommon').dialog('open');
        }

        if ('@Model.IsAgreementAccepted' == 'True') {
            $('#dialogCommon').dialog('open');
        }

        $("#dialogCommon").dialog({
            title: '@TempData["Title"]',
            autoOpen: '@TempData["bAutoOpen"]' == "True" ? true : false,
            autoOpen: false,
            resizable: '@TempData["bResizable"]' == "True" ? true : false,
            height: '@TempData["winHeight"]',
            width: '@TempData["winWidth"]',
            show: { effect: 'fade' },
            modal: true,
            draggable: '@TempData["bDraggable"]' == "True" ? true : false,
            closeOnEscape: false,
            close: function (event, ui) {
                $(this).dialog("close");
        },
        open: function (event, ui) {
            $(this).load('@TempData["sLoadUrl"]', { id: g_modal_paramId });
            if ('@TempData["bShowCloseBtn"]' == "False")
                $(".ui-dialog-titlebar-close").hide();
        }
    });

    // override autocompleteTextBox.on function
    autocompleteTextBox.on('autocompleteselect', function(event, ui) {
        searchTextTyped = ui.item.value;
        autocompleteMatch(searchTextTyped, possibleValues);

        updatePropertyInfo(searchTextTyped);
    });

    autocompleteTextBox.bind('blur', function() {
        updatePropertyInfo($(this).val());
    });
       
    function getMonthsBetween(date1,date2)
    {
        //Months will be calculated between start and end dates.
        //Make sure start date is less than end date.
        //But remember if the difference should be negative.
        var startDate=date1;
        var endDate=date2;
        var inverse=false;
        if(date1>date2)
        {
            startDate=date2;
            endDate=date1;
            inverse=true;
        }

        //Calculate the differences between the start and end dates
        var yearsDifference=endDate.getFullYear()-startDate.getFullYear();
        var monthsDifference=endDate.getMonth()-startDate.getMonth();
        var daysDifference=endDate.getDate()-startDate.getDate();


        return (inverse?-1:1)*(yearsDifference*12+monthsDifference+(daysDifference/30));
    };
    
    function updatePropertyInfo(selectedFHANumber) {
        if ($.inArray(selectedFHANumber, possibleValues) != -1) {
            if (fhaNumberLoaded != selectedFHANumber) {
                $.ajax({
                    url: '@Url.Action("GetPropertyInfo", "NonCriticalRepairsRequest")',
                    data: { selectedFhaNumber: selectedFHANumber },
                    dataType: 'json',
                    type: 'GET',
                    success: function(data) {
                        {
                            updateBasedOnFHA = false;
                            if (selectedFHANumber == '-1' || selectedFHANumber == '') {
                                $('#txtPropertyName').val("");
                                $('#txtPropertyId').val("");
                                $('#txtPropertyId1').val("");
                                $('#txtClosingDate').val("");
                                $('#txtTroubledCode').val("");
                                $('#txtNonCriticalAccountBalance').val("");
                                $('#txtNonCriticalCurrentBalance').val("");
                                $('#txtNumberDraw').val("");
                                $('#txtRequestPending').val("");
                                $('#txtPropertyId').val("");
                            } else {
                                
                                $('#txtPropertyId').val(data.PropertyId);
                                $('#txtPropertyId1').val(data.PropertyId);
                                $('#txtPropertyName').val(data.PropertyName);
                                $('#txtClosingDate').val(data.ClosingDate);
                                $('#FHANumber').val(selectedFHANumber);
                                $('#txtTroubledCode').val(data.TroubledCode);
                                if (data.NonCriticalAccountBalance != null) {
                                    $("#txtNonCriticalAccountBalance").autoNumeric('set', data.NonCriticalAccountBalance);
                                }
                                if (data.NCRECurrentBalance != null) {
                                    $("#txtNonCriticalCurrentBalance").autoNumeric('set', data.NCRECurrentBalance);
                                }
                                $('#txtNumberDraw').val(data.DrawNumber);
                                $('#txtRequestPending').val(data.IsNCRRequestPending);
                                $('#txtTxnLedger').val(data.IsTransactionLedger);

                                var extenApprovalDate = data.ExtensionApprovalDate;
                                //RequestExtn link or Attach extn displayed based on Closing date, check extension exist
                                if (data.ClosingDate != null && (extenApprovalDate == null || extenApprovalDate == "")) {
                                    var closingDate = new Date(data.ClosingDate);
                                    var todayDate = new Date();
                                    //calculate the no.of months from closing date
                                    var diff = getMonthsBetween(closingDate, todayDate);

                                    //show/hide request extension block
                                    document.getElementById("divRequestExtensionFile").style.display = 'none';
                                    document.getElementById("divRequestExtensionLink").style.display = 'none';
                                    $('#rdIsAgreementAccepted').prop('disabled', false);//User Story 1901
                                    document.getElementById("btnSubmit").disabled = false;
                                    $('#txtExtnAttachmentReq').val(false);

                                    /*
                                     * old extension check logic
                                    if (diff > 12 && diff <= 18) {
                                    //commented as request extn business has changed
                                        //document.getElementById("divRequestExtensionFile").style.display = 'block';
                                        document.getElementById("divRequestExtensionLink").style.display = 'block';
                                        $('#txtExtnAttachmentReq').val(true);
                                    } else if (diff > 18) {
                                        //check if there is a Pending Request for Extension for the Selected FHA Number
                                        if (data.IsAnyPendingExtensionRequestExist) {
                                            document.getElementById("divRequestExtensionLink").style.display = 'none';
                                        //commented as request extn business has changed
                                        //alert("You have a Request for Extension that is Pending for HUD Approval");
                                        //document.getElementById("btnSubmit").disabled = true;
                                        } else {
                                            document.getElementById("divRequestExtensionLink").style.display = 'block';
                                        //commented as request extn business has changed
                                        //document.getElementById("btnSubmit").disabled = true;
                                            $('#txtExtnAttachmentReq').val(true);
                                        }
                                       // $('#rdCanProvideAllPhotosInvoices').prop('disabled', true);
                                       // document.getElementById("btnSubmit").disabled = true;
                                    }*/

                                    /* new extension check logic*/
                                    if (diff > 12) {
                                        if (data.IsAnyPendingExtensionRequestExist) {
                                            alert("You have a Request for Extension that is Pending for HUD Approval. You may still proceed with your Non-Critical Repair Request.");
                                            //$('#rdCanProvideAllPhotosInvoices').prop('disabled', true);
                                            //document.getElementById("btnSubmit").disabled = true;
                                        } else {
                                            $('#txtExtnAttachmentReq').val(true);
                                            document.getElementById("divRequestExtensionLink").style.display = 'block';

                                        }
                                        //$('#rdCanProvideAllPhotosInvoices').prop('disabled', true);
                                        //document.getElementById("btnSubmit").disabled = true;
                                        $('#txtExtnAttachmentReq').val(true);
                                    }

                                } else {
                                    //if extension is there and it is expired, in this case we need to display the request extension link
                                    if (extenApprovalDate != null && extenApprovalDate != "") {
                                        var todayDate1 = new Date();
                                        var extensionDate = new Date(data.EndingDate);

                                        if (data.IsAnyPendingExtensionRequestExist) {
                                            alert("You have a Request for Extension that is Pending for HUD Approval. You may still proceed with your Non-Critical Repair Request.");
                                          //  $('#rdCanProvideAllPhotosInvoices').prop('disabled', true);
                                          //  document.getElementById("btnSubmit").disabled = true;
                                        }else if (extensionDate < todayDate1) {
                                            document.getElementById("divRequestExtensionLink").style.display = 'block';
                                          //  document.getElementById("btnSubmit").disabled = true;
                                            $('#txtExtnAttachmentReq').val(true);

                                        }

                                        if (extensionDate >= todayDate1) {
                                            document.getElementById("divRequestExtensionLink").style.display = 'none';
                                           // document.getElementById("btnSubmit").disabled = false;
                                          //  $('#rdCanProvideAllPhotosInvoices').prop('disabled', false);
                                             $('#txtExtnAttachmentReq').val(false);
                                        }

                                    }
                                }
                                //check if there is any Transaction for this FHA Number
                                // Commented out as per User Story 1847
                                //if (data.IsTransactionLedger) {
                                //    document.getElementById("transactionLink").style.display = 'block';
                                //} else {
                                //    document.getElementById("transactionLink").style.display = 'none';
                                //}
                                //check if there is a NCR request pending for the Selected FHA Number
                                if (data.IsNCRRequestPending) {

                                    alert("New Non-Critical draw requests cannot be submitted for the same FHA# until your pending request is addressed by your Account Executive.  " +
                                        "Please contact the Account Executive associated with this property.");
                                    document.getElementById("btnSubmit").disabled = true;
                                    $('#rdIsAgreementAccepted').prop('disabled', true);// User Story 1901
                                }

                                //if NCRE amount is confirmed as valid earlier, autopopulate the value and disable selection
                                if (data.IsNCREValidForFHANumber) {
                                    $('input:radio[id="rbIsNCREAmountValidYes"]')[0].checked = true;
                                    $('input:radio[id="rbIsNCREAmountValidYes"]')[0].disabled = true;
                                    $('input:radio[id="rbIsNCREAmountValidNo"]')[0].disabled = true;
                                } else if (!data.IsNCREValidForFHANumber) {
                                    $('input:radio[id="rbIsNCREAmountValidNo"]')[0].checked = true;
                                    $('input:radio[id="rbIsNCREAmountValidYes"]')[0].disabled = false;
                                    $('input:radio[id="rbIsNCREAmountValidNo"]')[0].disabled = false;
                                    $('input:radio[id="rbIsNCREAmountValidYes"]')[0].checked = false;
                                } else {
                                    $('input:radio[id="rbIsNCREAmountValidYes"]')[0].disabled = false;
                                    $('input:radio[id="rbIsNCREAmountValidNo"]')[0].disabled = false;
                                }

                            }
                        }
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        alert("Error Retrieving Data\nStatus: " + textStatus + "\nError: " + errorThrown);
                    }
                });

                $.ajax({
                    url: '@Url.Action("GetPropertyInfo", "ReserveForReplacement")',
                    data: { selectedFhaNumber: selectedFHANumber },
                    dataType: 'json',
                    type: 'GET',
                    success: function(data) {
                        if (selectedFHANumber == '-1' || selectedFHANumber == '') {
                            $('#txtStreetAddress').val("");
                            $('#txtState').val("");
                            $('#txtCity').val("");
                            $('#txtZipCode').val("");
                        } else {
                            $('#txtStreetAddress').val(data.StreetAddress);
                            $('#txtState').val(data.State);
                            $('#txtCity').val(data.City);
                            $('#txtZipCode').val(data.Zipcode);
                        }
                        $('#txtFha').val(selectedFHANumber);
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        alert("Error Retrieving Data\nStatus: " + textStatus + "\nError: " + errorThrown);
                    }
                });

            }
        } else {
            $('#txtPropertyName').val("");
            $('#txtPropertyId').val("");
            $('#txtPropertyId1').val("");
            $('#txtClosingDate').val("");
            $("#txtTroubledCode").val("");
            $('#txtNumberDraw').val("");
            $('#txtRequestPending').val("");
            $('#txtNonCriticalAccountBalance').val("");
            $('#txtNonCriticalCurrentBalance').val("");
            $('#txtPropertyId').val("");
            $('#txtStreetAddress').val("");
            $('#txtState').val("");
            $('#txtCity').val("");
            $('#txtZipCode').val("");
        }

        fhaNumberLoaded = selectedFHANumber;
    }

    /*if(updateBasedOnFHA)
        updatePropertyInfo($('#ddlFHANumbers').val());*/
    });

</script>
