﻿@{
    Layout = null;
}

<span class="col-md-4 text-right vbottom">
    @Html.Label("HUD Initiated Documents")
</span>
<hr />
<div class="container-fluid" style="padding-top: 15px ">
    @Html.Partial("~/Views/OPAForm/_OPAAttachFinalWorkProducts.cshtml")
</div>