﻿@model Model.Production.LoanCommitteeFiltersModel
@{
    ViewBag.Title = "Loan Committee";
}
@using (Html.BeginForm("#", "#", FormMethod.Post, new { @class = "modal-form", id = "LoanCommitteeFilterDetails" }))
{
    <div class="container-fluid">
        <div class="row">
            <span class="col-md-3 text-right ">
                @Html.Label("Loan Committee Date", new { @class = "required" })
            </span>
            <span class="col-md-3 required">
                @Html.DropDownListFor(m => m.LoanCommitteeDate, Model.AllLoanCommitteeDate, "Select Loan Committee Date", new { @class = "form-control", id = "LoanCommitteeDate" })
            </span>
            <span class="col-md-3 text-right ">
                @Html.Label("Underwriter", new { @class = "required" })
            </span>
            <span class="col-md-3 " style="margin-left: -20px;">
                @Html.DropDownListFor(m => m.Underwriter, Model.AllUnderwriter, "Select Underwriter", new { @class = "form-control", id = "Underwriter" })
            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right ">
                @Html.Label(" Workload Manager", new { @class = "required" })
            </span>
            <span class="col-md-3">
                @Html.DropDownListFor(m => m.WorkloadManager, Model.AllWorkloadManager, "Select  Workload Manager Name", new { @class = "form-control", id = "WorkloadManager" })
            </span>
            <span class="col-md-3 text-right ">
                @Html.Label("Loan Committee Decision", new { @class = "required" })
            </span>
            <span class="col-md-3 " style="margin-left: -20px;">
                @Html.DropDownListFor(m => m.SequenceNumber, Model.AllSequenceNumber, "Select Loan Committee Decision", new { @class = "form-control", id = "SequenceNumber" })
            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right ">
                @Html.Label("Day", new { @class = "required" })
            </span>
            <span class="col-md-3">
                @Html.DropDownListFor(model => model.Day, Model.AllDay, "Select Day", new { @class = "form-control", id = "Day" })
            </span>
            <span class="col-md-3 text-right ">
                @Html.Label("Project Type", new { @class = "required" })
            </span>
            <span class="col-md-3" style="margin-left: -20px;">
                @Html.DropDownListFor(model => model.ProjectTypeName, Model.AllProjectTypeNames, "Select Project Type", new { @class = "form-control", id = "ProjectTypeName" })
            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right ">
                @Html.Label("OGC Attorney", new { @class = "required" })
            </span>
            <span class="col-md-3">
                @Html.DropDownListFor(model => model.OGCAttorney, Model.AllOGCAttorney, "Select OGC Attorney", new { @class = "form-control", id = "OGCAttorney" })
            </span>
            <span class="col-md-3 text-right ">
                @Html.Label("OHP Appraisal Reviewer", new { @class = "required" })
            </span>
            <span class="col-md-3 text-left" style="margin-left: -20px;">
                @Html.DropDownListFor(model => model.Appraiser, Model.AllOHPAppraisalReviewer, "Select OHP Appraisal Reviewer", new { @class = "form-control", id = "Appraiser" })
            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right ">
                @Html.Label("Lender", new { @class = "required" })
            </span>
            <span class="col-md-3">
                @Html.DropDownListFor(model => model.Lender, Model.AllLender, "Select Lender", new { @class = "form-control", id = "Lender" })
            </span>
        </div>
    </div>
}
<body ng-app="dragapp" ng-controller="dragcontr">
    <div class="container-fluid" style="padding-top: 15px">
        <div class="row">
            <span class="col-md-4 text-right">
                <button id="btnLCGetData" class="btn btn-default" style="border-color: #999" ng-click="Filterresult()">
                    Filter
                </button>
            </span>
            @*<span class="col-md-1 text-right">
                    <button id="btnHUDPRFSave" class="btn btn-default" style="border-color: #999">
                        Save
                    </button>
                </span>*@
            <span class="col-md-1 text-right">
                <button id="btnLCClear" class="btn btn-default"
                        style="border-color: #999">
                    Clear
                </button>
            </span>
            <span class="col-md-1 text-right">
                <button id="btnLCSaveGridChanges" class="btn btn-default" style="border-color: #999" ng-click="GetTableData()">
                    Save Sequence
                </button>
                @*<input type="button" title="Save Grid Changes" value="Save Grid Changes" ng-click="GetTableData()" />*@
            </span>
            <span style="float: right; margin-left: 80px">
                @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Images/icon_excelBg.jpg", Html.ViewContext.HttpContext), "Export to Excel", null, null, null, new { @class = "excelExport", id = "ExclIcon" }, null)
            </span>
        </div>
    </div>
    <br />
    <div style="overflow-x:auto; height:500px;" class="container-fluid">
        <table ng:model="list" ng-table="" id="sampleTbl" class="table table-bordered">
            <thead>
                <tr>
                    <th ng-click="sortBy('SequenceId')">
                        Sequence Id
                        <span class="sortorder" ng-show="propertyName === 'SequenceId'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th ng-click="sortBy('LoanCommitteDate')">
                        Day
                        <span class="sortorder" ng-show="propertyName === 'LoanCommitteDate'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th ng-click="sortBy('LoanCommitteDate')">
                        Loan Committe Date
                        <span class="sortorder" ng-show="propertyName === 'LoanCommitteDate'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th ng-click="sortBy('LCRecommendation')">
                        LC Decision
                        <span class="sortorder" ng-show="propertyName === 'LCRecommendation'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th ng-click="sortBy('ProjectTypeName')">
                        Project Type
                        <span class="sortorder" ng-show="propertyName === 'ProjectTypeName'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th ng-click="sortBy('ProjectName')">
                        Project Name
                        <span class="sortorder" ng-show="propertyName === 'ProjectName'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th ng-click="sortBy('FHANumber')">
                        FHANumber
                        <span class="sortorder" ng-show="propertyName === 'FHANumber'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th ng-click="sortBy('LoanAmount')">
                        Mortgage Amount
                        <span class="sortorder" ng-show="propertyName === 'LoanAmount'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th ng-click="sortBy('Underwriter')">
                        UW
                        <span class="sortorder" ng-show="propertyName === 'Underwriter'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th ng-click="sortBy('WLM')">
                        WLM
                        <span class="sortorder" ng-show="propertyName === 'WLM'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th ng-click="sortBy('Ogc')">
                        OGC Attorney
                        <span class="sortorder" ng-show="propertyName === 'Ogc'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th ng-click="sortBy('Appraiser')">
                        OHP Appraisal Reviewer
                        <span class="sortorder" ng-show="propertyName === 'Appraiser'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th ng-click="sortBy('Lender')">
                        Lender
                        <span class="sortorder" ng-show="propertyName === 'Lender'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th ng-click="sortBy('A7Presentation')">
                        A7 Presentation?
                        <span class="sortorder" ng-show="propertyName === 'A7Presentation'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th ng-click="sortBy('TwoStageSubmittal')">
                        2 Stage Submittal
                        <span class="sortorder" ng-show="propertyName === 'TwoStageSubmittal'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th ng-click="sortBy('NonProfit')">
                        Non-profit project
                        <span class="sortorder" ng-show="propertyName === 'NonProfit'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th ng-click="sortBy('LCComments')">
                        Comments
                        <span class="sortorder" ng-show="propertyName === 'LCComments'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th ng-click="sortBy('LoanCommitteeId')" hidden="hidden">
                        LoanCommitteeId
                        <span class="sortorder" ng-show="propertyName === 'LoanCommitteeId'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th ng-click="sortBy('ApplicationTaskinstanceId')" hidden="hidden">
                        ApplicationTaskinstanceId
                        <span class="sortorder" ng-show="propertyName === 'ApplicationTaskinstanceId'" ng-class="{reverse: reverse}"></span>
                    </th>
                </tr>
            </thead>
            <tbody ui:sortable="sortableOptions">
                <tr id="{{$index}}" ng-repeat="item in list | orderBy:sortType:sortReverse">

                    <td class="indexrow">{{ item.SequenceId }}</td>
                    <td>{{ item.LoanCommitteDate | date:'EEEE'}}</td>
                    <td>{{ item.LoanCommitteDate | date:'MM/dd/yyyy'}}</td>
                    <td>
                        <span ng-if="item.LCDecision == null">N/A</span>
                        <span ng-if="item.LCDecision == 1">Approve</span>
                        <span ng-if="item.LCDecision == 0">Reject</span>
                        <span ng-if="item.LCDecision == 2">Withdrawn</span>
                        <span ng-if="item.LCDecision == 3">Request Additional Information</span>
                        <span ng-if="item.LCDecision == 4">Long Term Hold</span>
                    </td>
                    <td>
                        <span ng-if="item.ProjectType == 1">Purchase/Refinance 223(f)</span>
                        <span ng-if="item.ProjectType == 2">Refinance 223(a)(7)</span>
                        <span ng-if="item.ProjectType == 3">OLL 223(d)</span>
                        <span ng-if="item.ProjectType == 4">Fire Safety 223(i)</span>
                        <span ng-if="item.ProjectType == 5">Construction 241(a)</span>
                        <span ng-if="item.ProjectType == 6">Construction NC</span>
                        <span ng-if="item.ProjectType == 7">Construction SR</span>
                    </td>
                    <td>{{ item.ProjectName }}</td>
                    <td style="width:150px !important; text-decoration: underline; ">
                        <a href="" style="color:blue !important; font-weight:bolder; text-decoration: underline;" title="Click On FHA Number To Open Loan Committe Uploaded Files" ng-click="GetDetails($index)">
                            {{ item.FHANumber }}
                        </a>
                    </td>
                    <td>{{ item.LoanAmount | currency  }}</td>
                    <td>{{ item.Underwriter }}</td>
                    <td>
                        <span ng-if="item.WLM == null">N/A</span>
                        <span ng-if="item.WLM != null"> {{ item.WLM }}</span>
                    </td>
                    <td>
                        <span ng-if="item.Ogc == null">N/A</span>
                        <span ng-if="item.Ogc != null"> {{ item.Ogc }}</span>
                    </td>
                    <td>
                        <span ng-if="item.Appraiser == null">N/A</span>
                        <span ng-if="item.Appraiser != null"> {{ item.Appraiser }}</span>
                    </td>
                    <td>{{ item.Lender }}</td>
                    <td>
                        <span ng-if="item.A7Presentation == null">N/A</span>
                        <span ng-if="item.A7Presentation == 1">Yes</span>
                        <span ng-if="item.A7Presentation == 0">No</span>
                    </td>
                    <td>
                        <span ng-if="item.TwoStageSubmittal == null">N/A</span>
                        <span ng-if="item.TwoStageSubmittal == 1"> Yes</span>
                        <span ng-if="item.TwoStageSubmittal == 0"> No</span>
                    </td>
                    <td>
                        <span ng-if="item.NonProfit == 'Profit'">No</span>
                        <span ng-if="item.NonProfit == 'Non-Profit'">Yes</span>
                    </td>
                    <td>
                        <span ng-if="item.LCComments == ''">N/A</span>
                        <span ng-if="item.LCComments != ''"> {{ item.LCComments }}</span>
                    </td>
                    <td hidden="hidden">{{ item.LoanCommitteeId }}</td>
                    <td hidden="hidden">{{ item.ApplicationTaskinstanceId }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<div id="dialog1" style="display: none; width:auto !important; height:360px; position: relative;">
</div>
@*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>*@
@*<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.js" type="text/javascript"></script>*@
@*<link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/blitzer/jquery-ui.css" rel="stylesheet" type="text/css" />*@
<script type="text/javascript">
    $(function () {
        $("#dialog1").dialog({
            autoOpen: false,
            modal: true,
            title: "Loan Committee files"
        });
        //$("#CustomerGrid .details").click(function () {
        //    //var customerId = $(this).closest("tr").find("td").eq(0).html();

        //});
    });
</script>

<style>
    .indexrow {
        width: auto;
    }
</style>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link href="~/Scripts/jquery-ui-1.10.0.custom.min.css" rel="stylesheet" />
@*<link href="~/Scripts/bootstrap.min.css" rel="stylesheet" />*@
@*<link href="~/Scripts/bootstrap1.min.css" rel="stylesheet" />*@
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/angular1.min.js"></script>
<script src="~/Scripts/angular-ui.js"></script>
<script src="~/Scripts/angular1-route.js"></script>
<script src="~/Scripts/tablesort.min.js"></script>

<style>
    *[data-href] {
        cursor: pointer;
    }

    #sampleTbl {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 2000px !important;
        font-size: small;
    }

        #sampleTbl td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        /*#sampleTbl tr:nth-child(even) {
            background-color: #f2f2f2;
        }*/

        #sampleTbl tr:hover {
            background-color: #ddd;
        }

        #sampleTbl th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #3e4c92;
            color: white;
        }
</style>
<script>
    var fixHelperModified = function (e, tr) {
        //debugger;
        var $originals = tr.children();
        var $helper = tr.clone();

        $helper.children().each(function (index) {
            //debugger;
            $(this).width($originals.eq(index).width())
        });
        return $helper;
    },
        updateIndex = function (e, ui) {
            var d = -1;
            debugger;
            if ($('#LoanCommitteeDate option:selected').text() == null || $('#LoanCommitteeDate option:selected').text() == "Select Loan Committee Date") {
                alert("Please select a loan committee Date to Reorder Sequence and Save Grid Changes");
                $("#LoanCommitteeDate").focus();
                d++;
            }
            if ($('#Underwriter option:selected').text() != "Select Underwriter") {
                alert("Please select only loan committee Date to Reorder Sequence and Save Grid Changes");
                $("#LoanCommitteeDate").focus();
                d++;
            }
            if ($('#WorkloadManager option:selected').text() != "Select  Workload Manager Name") {
                alert("Please select only loan committee Date to Reorder Sequence and Save Grid Changes");
                $("#LoanCommitteeDate").focus();
                d++;
            }
            if ($('#SequenceNumber option:selected').text() != "Select Loan Committee Decision") {
                alert("Please select only loan committee Date to Reorder Sequence and Save Grid Changes");
                $("#LoanCommitteeDate").focus();
                d++;
            }
            if ($('#Day option:selected').text() != "Select Day") {
                alert("Please select only loan committee Date to Reorder Sequence and Save Grid Changes");
                $("#LoanCommitteeDate").focus();
                d++;
            }
            if ($('#ProjectTypeName option:selected').text() != "Select Project Type") {
                alert("Please select only loan committee Date to Reorder Sequence and Save Grid Changes");
                $("#LoanCommitteeDate").focus();
                d++;
            }
            if ($('#OGCAttorney option:selected').text() != "Select OGC Attorney") {
                alert("Please select only loan committee Date to Reorder Sequence and Save Grid Changes");
                $("#LoanCommitteeDate").focus();
                d++;
            }
            if ($('#Appraiser option:selected').text() != "Select OHP Appraisal Reviewer") {
                alert("Please select only loan committee Date to Reorder Sequence and Save Grid Changes");
                $("#LoanCommitteeDate").focus();
                d++;
            }
            if ($('#Lender option:selected').text() != "Select Lender") {
                alert("Please select only loan committee Date to Reorder Sequence and Save Grid Changes");
                $("#LoanCommitteeDate").focus();
                d++;
            }
            var appElement = document.querySelector('[ ng-controller=dragcontr]');
            //debugger;
            if (d == -1)
                $('td.indexrow', ui.item.parent()).each(function (i) {
                    //debugger;
                    var $scope = angular.element(appElement).scope();
                    var $http = angular.element(appElement).injector().get('$http');

                    $(this).html(i + 1);
                });
        };

        //$("#sort tbody").sortable({
        //    helper: fixHelperModified,
        //    stop: updateIndex
        //}).disableSelection();
</script>
<script>
    //debugger;
    var app = angular.module('dragapp', ['ngRoute', 'ui']);
    //debugger;
    app.controller('dragcontr', ['$scope', 'orderByFilter', '$http', function ($scope, orderBy, $http) {
        //debugger;
        var friends = "";
        $http.get('/LoanCommitteeScheduler/GetLCGridResults').success(function (data) {
            // debugger;
            friends = eval('(' + data + ')');
            friends = eval('(' + friends + ')');
            //$scope.propertyName = 'SequenceId'; 
            $scope.propertyName = 'LoanCommitteDate';
            $scope.reverse = true;
            $scope.list = orderBy(friends, $scope.propertyName, false);

            $scope.sortBy = function (propertyName) {
                ////debugger;
                $scope.reverse = (propertyName !== null && $scope.propertyName === propertyName)
                    ? !$scope.reverse : false;
                $scope.propertyName = propertyName;
                $scope.list = orderBy(friends, $scope.propertyName, $scope.reverse);
            };
        });
        $scope.sortableOptions = {
            helper: fixHelperModified,
            stop: updateIndex
        }

        // Get Table data and update
        $scope.GetTableData = function () {
            var d = -1;
            debugger;
            if ($('#LoanCommitteeDate option:selected').text() == null || $('#LoanCommitteeDate option:selected').text() == "Select Loan Committee Date") {
                alert("Please select a loan committee Date to Reorder Sequence and Save Grid Changes");
                $("#LoanCommitteeDate").focus();
                d++;
            }
            if ($('#Underwriter option:selected').text() != "Select Underwriter") {
                alert("Please select only loan committee Date to Reorder Sequence and Save Grid Changes");
                $("#LoanCommitteeDate").focus();
                d++;
            }
            if ($('#WorkloadManager option:selected').text() != "Select  Workload Manager Name") {
                alert("Please select only loan committee Date to Reorder Sequence and Save Grid Changes");
                $("#LoanCommitteeDate").focus();
                d++;
            }
            if ($('#SequenceNumber option:selected').text() != "Select Loan Committee Decision") {
                alert("Please select only loan committee Date to Reorder Sequence and Save Grid Changes");
                $("#LoanCommitteeDate").focus();
                d++;
            }
            if ($('#Day option:selected').text() != "Select Day") {
                alert("Please select only loan committee Date to Reorder Sequence and Save Grid Changes");
                $("#LoanCommitteeDate").focus();
                d++;
            }
            if ($('#ProjectTypeName option:selected').text() != "Select Project Type") {
                alert("Please select only loan committee Date to Reorder Sequence and Save Grid Changes");
                $("#LoanCommitteeDate").focus();
                d++;
            }
            if ($('#OGCAttorney option:selected').text() != "Select OGC Attorney") {
                alert("Please select only loan committee Date to Reorder Sequence and Save Grid Changes");
                $("#LoanCommitteeDate").focus();
                d++;
            }
            if ($('#Appraiser option:selected').text() != "Select OHP Appraisal Reviewer") {
                alert("Please select only loan committee Date to Reorder Sequence and Save Grid Changes");
                $("#LoanCommitteeDate").focus();
                d++;
            }
            if ($('#Lender option:selected').text() != "Select Lender") {
                alert("Please select only loan committee Date to Reorder Sequence and Save Grid Changes");
                $("#LoanCommitteeDate").focus();
                d++;
            }
            if (d == -1) {
                var i = -1;
                var TableData;
                TableData = storeTblValues()
                TableData = (TableData);
                //debugger;
                $http.get('/LoanCommitteeScheduler/UpdateLCGridResults', {
                    params: { Model: JSON.stringify(TableData) }
                }).then(function (response) {
                    debugger;
                    if (eval('(' + response.data + ')') == "Success") {
                        alert("Loan Committee details Updated Successfully");
                    }
                }, function (response) {

                });
                function storeTblValues() {
                    var TableData = new Array();
                    //debugger;
                    $('#sampleTbl tr').each(function (row, tr) {
                        if (row > 0) {
                            i++;
                            TableData[i] = {
                                "SequenceId": parseInt($(tr).find('td:eq(0)').text())
                                , "LoanCommitteDate": $(tr).find('td:eq(1)').text()
                                , "LoanCommitteDate": $(tr).find('td:eq(2)').text()
                                //, "LCRecommendation": $(tr).find('td:eq(3)').text()
                                //, "ProjectTypeName": $(tr).find('td:eq(4)').text()
                                //, "ProjectName": $(tr).find('td:eq(5)').text()
                                //, "FHANumber": $(tr).find('td:eq(6)').text()
                                //, "LoanAmount": parseFloat($(tr).find('td:eq(7)').text())
                                //, "Underwriter": $(tr).find('td:eq(8)').text()
                                //, "Wlm": $(tr).find('td:eq(9)').text()
                                //, "Ogc": $(tr).find('td:eq(10)').text()
                                //, "Appraiser": $(tr).find('td:eq(11)').text()
                                //, "Lender": $(tr).find('td:eq(12)').text()
                                //, "A7Presentation": $(tr).find('td:eq(13)').text()
                                //, "TwoStageSubmittal": $(tr).find('td:eq(14)').text()
                                //, "NonProfit": $(tr).find('td:eq(15)').text()
                                //, "LCComments": $(tr).find('td:eq(16)').text()
                                , "LoanCommitteeId": $(tr).find('td:eq(17)').text()
                            }
                        }
                    });
                    //TableData.shift();  // first row will be empty - so remove
                    return TableData;
                }
            }
        }

        $scope.Filterresult = function () {
            //debugger;
            var friends = "";
            $.ajax({
                url: '/LoanCommitteeScheduler/GetLCselectedFilterValues',
                data: $('#LoanCommitteeFilterDetails').serialize(),
                type: 'POST',
                success: function (response) {
                    //debugger;
                    friends = eval('(' + response + ')');
                    //friends = eval('(' + friends + ')');
                    $scope.propertyName = 'SequenceId';
                    $scope.reverse = true;
                    $scope.list = orderBy(friends, $scope.propertyName, false);
                    $scope.$apply();
                    $scope.sortBy = function (propertyName) {
                        ////debugger;
                        $scope.reverse = (propertyName !== null && $scope.propertyName === propertyName)
                            ? !$scope.reverse : false;
                        $scope.propertyName = propertyName;
                        $scope.list = orderBy(friends, $scope.propertyName, $scope.reverse);
                    };
                }
            });
        }

        $scope.GetDetails = function (index) {
            //debugger;
            var ApplicationTaskinstanceId = $scope.list[index].ApplicationTaskinstanceId;
            //var FHA = $scope.list[index].FHANumber;
            // window.location.href = '/LoanCommitteeScheduler/GetWorkProduct?taskInstanceId=' + ApplicationTaskinstanceId;
            $.ajax({
                type: "POST",
                url: "/LoanCommitteeScheduler/GetWorkProduct",
                data: { taskInstanceId: ApplicationTaskinstanceId },
                dataType: "html",
                success: function (response) {
                    //debugger;
                    $('#dialog1').html(response);
                    $('#dialog1').dialog('open');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        };

        $("#LoanCommitteeDate").change(function () {
            //debugger;
            var friends = "";
            $.ajax({
                url: '/LoanCommitteeScheduler/GetLCDataByDate',
                data: $('#LoanCommitteeFilterDetails').serialize(),
                type: 'POST',
                success: function (response) {
                    //debugger;
                    friends = eval('(' + response + ')');
                    //friends = eval('(' + friends + ')');
                    $scope.propertyName = 'SequenceId';
                    $scope.reverse = true;
                    $scope.list = orderBy(friends, $scope.propertyName, false);
                    $scope.$digest();
                    //$scope.$apply();

                    $scope.sortBy = function (propertyName) {
                        ////debugger;
                        $scope.reverse = (propertyName !== null && $scope.propertyName === propertyName)
                            ? !$scope.reverse : false;
                        $scope.propertyName = propertyName;
                        $scope.list = orderBy(friends, $scope.propertyName, $scope.reverse);
                    };
                }
            });

        });
    }]);
</script>
<script>
    $(document).ready(function () {
        $('.datepicker').datepicker();
    });
</script>
<script>

    $('#btnLCClear').click(function (e) {
        e.preventDefault();
        $('select option:selected').removeAttr('selected');
    });
    $('#ExclIcon').click(function (e) {
        e.preventDefault();
        $.ajax({
            url: '/ExcelExport/ExportProdLC/',
            data: $('#LoanCommitteeFilterDetails').serialize(),
            type: 'POST'
        }).done(function (data) {

            if (data != "") {
            window.location.href = "@Url.RouteUrl(new
                { Controller = "ExcelExport", Action = "DownloadLCFile"})/?file=" + data;
            }
        });
        //var url = "/ExcelExport/ExportProdPAMReportV3?result=" + $('#SaveHUDPamReportFilterDetails').serialize() ;
        //$('#ExclIcon').attr("href", url);
    });

    //$('#btnLCGetData').click(function (e) {
    //    e.preventDefault();
    //    var friends = "";
    //    $http.POST('/LoanCommitteeScheduler/GetLCselectedFilterValues', {
    //        params: { Model: $('#LoanCommitteeFilterDetails').serialize() }
    //    }).success(function (data) {
    //        debugger;
    //        friends = eval('(' + data + ')');
    //        friends = eval('(' + friends + ')');
    //        $scope.propertyName = 'SequenceId';
    //        $scope.reverse = true;
    //        $scope.list = orderBy(friends, $scope.propertyName, false);

    //        $scope.sortBy = function (propertyName) {
    //            ////debugger;
    //            $scope.reverse = (propertyName !== null && $scope.propertyName === propertyName)
    //                ? !$scope.reverse : false;
    //            $scope.propertyName = propertyName;
    //            $scope.list = orderBy(friends, $scope.propertyName, $scope.reverse);
    //        };
    //    });
    //    $scope.sortableOptions = {
    //        helper: fixHelperModified,
    //        stop: updateIndex
    //    }
    //});


    $('#btnHUDPRFSave').click(function (e) {
        e.preventDefault();
        // debugger;

        $.ajax({
            url: '/ProdPAM/SaveHUDPamReportFilterDetails/',
            data: $('#SaveHUDPamReportFilterDetails').serialize(),
            type: 'POST',
            success: function (response) {
                if (response === "Saved") {
                    alert("Information Saved Successfully");
                    return false;
                }
                else if (response === "Updated") {
                    alert("Information Updated Successfully");
                    return false;
                }
                else if (response === "Fail") {
                    alert("Unable to Update/Save Information");
                    return false;
                }

            },
            error: function (xhr, status, p3, p4) {

                var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;
                console.log(err);
            }
        });
    });
</script>