﻿@using Core
@{
    int ExpireInDaysTemp = (TempData["ExpireInDays"]==null) ? 0:(int)TempData["ExpireInDays"] ;
    bool showchangePasswordMsgTemp = (TempData["bShowChangePasswordMsg"] == null) ? false : (bool)TempData["bShowChangePasswordMsg"];
  
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - HUD Healthcare Portal</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <!-- common styles shared by pages are rendered above for individual page specific styles, add "Styles" section, and will
        be rendered below -->
    @RenderSection("Styles", false)
    <style>
        .no-link {
            color: inherit;
            text-decoration: none;
            pointer-events: none;
        }
    </style>

    @*<script>
        //session end
        //debugger;
    var sessionTimeoutWarning = @Session.Timeout;

    var sTimeout = parseInt(sessionTimeoutWarning) * 60 * 1000;
    setTimeout('SessionEnd()', sTimeout);

    function SessionEnd() {
        window.location = "/Account/LogOff";
    }
    </script>*@
    <script type="text/javascript">

    var ExpireInDays;
    var showchangePasswordMsg;
    var isPasswordExpired;
    GetExpireInfo();
    function GetExpireInfo() {
        $.getJSON('@Url.Action("GetPasswordExpireInfo", "Account")', function (result) {
            ExpireInDaysTemp = result.ExpireInDays;
            showchangePasswordMsg = result.ShowPasswordExpiredMsg
            isPasswordExpired = result.IsPasswordExpired;
            if (isPasswordExpired) {
                $('#dialogContent').load('@Url.Action("ChangePasswordNew","Account")',{passwordExpired:true}, function () {
                    $('#dialogDiv').modal({
                        backdrop: 'static',
                        keyboard: true
                    }, 'show');
                    //bindForm(this);
                    $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
                });

                return false;
            }
            else {
                if (showchangePasswordMsg == true) {
                    if (ExpireInDaysTemp > 0) {
                        $("#dvPasswordMsg").css('visibility', 'visible');
                        $('#lnkChangePassword').live('click', function () {
                             $('#dialogContent').load('@Url.Action("ChangePasswordNew","Account")',{passwordExpired:false}, function () {
                            $('#dialogDiv').modal({
                        backdrop: 'static',
                        keyboard: true
                    }, 'show');
                    //bindForm(this);
                    $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
                });

                return false;
                        });
                }
                }
                else {

                    $("#dvPasswordMsg").css('visibility', 'hidden');
                }
            }

        });
    }
    var g_modal_paramId;
    var g_popup_options =
            {
                title: '@TempData["Title"]',
                autoOpen: '@TempData["bAutoOpen"]' == "True" ? true : false,
                autoOpen: false,
                resizable: '@TempData["bResizable"]' == "True" ? true : false,
                height: '@TempData["winHeight"]',
                width: '@TempData["winWidth"]',
                show: { effect: 'fade' },
                modal: true,
                draggable: '@TempData["bDraggable"]' == "True" ? true : false,
                closeOnEscape: false,
                close: function (event, ui) {
                    $(this).dialog("close");
                },
                beforeclose: function (event, ui) {
                    if ('@TempData["Title"]' == "Change Password" && '@TempData["ChangePasswordSuccess"]' != "True") {
                        return false;
                    }
                },
                open: function (event, ui) {
                    $.ajaxSetup({
                        // Disable caching of AJAX responses
                        cache: false
                    });
                    //$(".ui-dialog-titlebar-close", ui.dialog || ui).hide();
                    // paramId for passing in one string param, if more than more, use comma delimited and parse from
                    // controller side
                    @*$(this).load('@TempData["sLoadUrl"]', { id : '@TempData["paramId"]'});*@
                    $(this).load('@TempData["sLoadUrl"]', { id: g_modal_paramId });
                    if ('@TempData["bShowCloseBtn"]' == "False")
                        $(".ui-dialog-titlebar-close").hide();
                },
            };
    $(document).ready(function () {

        $(document).keypress(function (e) {
            if (e.which == 13) {
                e.preventDefault();
            }
        });
        $("#dialogCommon").dialog({
            title: '@TempData["Title"]',
            autoOpen: '@TempData["bAutoOpen"]' == "True" ? true : false,
            autoOpen: false,
            resizable: '@TempData["bResizable"]' == "True" ? true : false,
            height: '@TempData["winHeight"]',
            width: '@TempData["winWidth"]',
            show: { effect: 'fade' },
            modal: true,
            draggable: '@TempData["bDraggable"]' == "True" ? true : false,
            closeOnEscape: false,
            close: function (event, ui) {
                $(this).dialog("close");
            },
            beforeclose: function (event, ui) {
                if ('@TempData["Title"]' == "Change Password" && '@TempData["ChangePasswordSuccess"]' != "True") {
                    return false;
                }
            },
            open: function (event, ui) {
                //$(".ui-dialog-titlebar-close", ui.dialog || ui).hide();
                // paramId for passing in one string param, if more than more, use comma delimited and parse from
                // controller side
                $.ajaxSetup({
                    // Disable caching of AJAX responses
                    cache: false
                });

                @*$(this).load('@TempData["sLoadUrl"]', { id : '@TempData["paramId"]'});*@
                $(this).load('@TempData["sLoadUrl"]', { id: g_modal_paramId });
                if ('@TempData["bShowCloseBtn"]' == "False")
                    $(".ui-dialog-titlebar-close").hide();
            },
        });


        if ('@TempData["PasswordExpires"]' == "True" || '@TempData["PasswordExpires"]' == "true") {
            //$("#dialogCommon").dialog('open'); return false;
            @*$.ajax({
                    cache: false,
                    url: '@TempData["sLoadUrl"]',
                    success: function (data) {
                        $("#dialogCommon").dialog('open'); return false;
                     }
                });*@
        }

         //skumar - popup for session timeout alert for 20 minutes i.e. 1200000
            var timeOutAlertInMinutes  = @System.Configuration.ConfigurationManager.AppSettings["TimeOutAlertInMinutes"];
            timeOutAlertInMinutes = timeOutAlertInMinutes * 60 * 1000;


            window.onload = function () {
	            var askQuestion = function () {
		        var r = confirm("Click OK to continue your session. Click Cancel to log out.");
					if (!r)
							window.location.href = '@Url.Content("~/")';

					$.ajax({
						type: 'POST',					
						url: '@Url.Action("SessionExpiredStatus", "Home")',
						data: {
							imageData: 'skumar'
						},
						success: function (data) {
							var stat = data['sessionStatus'].toString();							
							if (stat == "false") {
								alert('Your session is expired already.......');
								 window.location.href = '@Url.Content("~/")';
							}
						}
					 });
					 setTimeout(askQuestion, timeOutAlertInMinutes);
	            }
                setTimeout(askQuestion, timeOutAlertInMinutes);
            };
    });

    var i = -1;
    $(document).ready(function () {
        var callback = function () {
            var inputNStr = $(this).val();
            inputNStr = inputNStr.replace(/[,]/g, "");
            inputNStr += '';
            var x = inputNStr.split('.');
            var x1 = x[0];
            var x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + ',' + '$2');
            }
            $(this).val(x1 + x2);
        };

        $('input.number').each(
             callback
            );

        $('input.number')
            .on("blur", callback);


        $('input.number').
            on("focus", function () {
                $(this).val($(this).val().replace(/[,]/g, ""));
                var valLength = $(this).val().length;
                this.setSelectionRange(valLength, valLength);
                this.scrollLeft = this.scrollWidth;
            });

    });


    function RemoveCommasFromNumericBoxes() {
        $('input.number').each(
         function () {
             $(this).val($(this).val().replace(/[,]/g, ""));
         }
        );
    }

    $(document).ready(function () {
        $.ajaxSetup({
            // Disable caching of AJAX responses
            cache: false
        });
        $("#spinner").bind("ajaxSend", function () {
            $(this).show();
        }).bind("ajaxStop", function () {
            $(this).hide();
        }).bind("ajaxError", function () {
            $(this).hide();
        });

        $("form").on("submit", function () {
            //showLoadingSpinner();
            var validator = $("form").validate(); // obtain validator
            var anyError = false;

            $("form").find("select").each(function () {
                try {
                    if (!validator.element(this)) { // validate every input element inside this step
                        anyError = true;
                    }
                } catch (exception) { }
            });
            $("form").find("input").each(function () {
                try {
                    if (!validator.element(this)) { // validate every input element inside this step
                        anyError = true;
                    }
                } catch (exception) { }
            });
            if (anyError) {
                hideLoadingSpinner();
            }
        });

        $("a").click(function () {
            if (this.target == "_glossary" || this.target == "_blank" || this.class == "excelExport")
                hideLoadingSpinner();
        });
    });



    function showLoadingSpinner() {
        $("#spinner").show();
    };
    function hideLoadingSpinner() {
        $("#spinner").hide();
    };

    </script>
</head>
<body>
    <header>
        @*<div style="margin-left:10px; position:relative;">*@
            <div class="center-hud-image" id="layoutheaderlogo">
                <table border="0" style="align-items:flex-start;width:100%">
                    <tr>
                        <td rowspan="2"><img src="~/Images/HUD_Header_Logo.jpg" /></td>
                        <td align="right">
                            <div style="padding-right:20px; text-align: right">
                                Version @Html.CurrentVersion()<br />@Html.ActionLink("Log out", "LogOff", "Account", null, new { title = "Log Out" })<br />Welcome                                 @UserPrincipal.Current.FullName
                                <br />@EnumType.GetEnumDescription(EnumType.ValueToEnum<HUDRole>(UserPrincipal.Current.UserRole))
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="container center-menu" id="layoutmenu">
                    <div class="row">
                        <div style="position:absolute;left: 0px;top:98px;width:100%">
                            <nav>
                                @Html.Partial("~/Views/Shared/_Menu.cshtml")
                            </nav>
                        </div>
                    </div>
                </div>
            }
    </header>
    <div id="body">
        <div id='dialogDiv' class='modal fade in'>
            <div id='dialogContent'></div>
        </div>
        <div id="spinner" class="spinner">
            <img id="img-spinner" src="~/Content/images/ajax-loader.gif" alt="Loading" />
            <div>
                <label>Loading...</label>
            </div>
        </div>
        <div style="position:relative;"></div>
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            <div class="center-content-menu">
                <div class="breadcrumb" style="margin-top: 10px;">
                    <span id="bcHolder"></span>
                    @Html.MvcSiteMap().SiteMapPath()
                </div>
                <div id="dvPasswordMsg" style="visibility: collapse; margin-bottom: 2%;">
                    <h2 class="warning">Your password expires in @ExpireInDaysTemp day(s). <a href="#" id="lnkChangePassword" style="text-decoration: underline; color: blue;">Change</a>
                    </h2>
                </div>
                @RenderBody()

            </div>
        </section>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
